openapi: 3.0.2
info:
  version: '1'
  title: Dock API
  description: |
    Dock provides a complete solution for creating and managing verifiable credentials on the blockchain. This includes a free trial and simple, monthly pricing. For more info about [Dock Pricing](https://www.dock.io/pricing).   <br />
    <br /> 1- Get your first API key after login from [Dock Console API board](https://console.api.dock.io/).
    <br />2- Create the `API Key` by switching to test mode, copy and save it to enjoy `free unlimited API calls`.
    <br />3- Select the right server in which you have created your API key.
    <br /> 4- Now click <b>`Authorize`</b> button, and paste the API key into `accessToken (apiKey)` text box.
    <br /> 5- Click again the `Authorize` button to complete authorization process. Click `Close` to execute the API calls.
servers:
  - url: https://api-testnet.dock.io
    description: Sandbox server (uses test data)
  - url: https://api.dock.io
    description: Production server (uses live data)
tags:
  - name: dids
    description: Operations about DIDs
  - name: credentials
    description: Operations about Credentials
  - name: presentations
    description: Operations about Presentations
  - name: registries
    description: Operations about Registries
  - name: revocationStatus
    description: Operations about Revocation Status
  - name: schemas
    description: Operations about Schemas
  - name: anchors
    description: Operations about Anchors
  - name: jobs
    description: Operations about Jobs
  - name: profiles
    description: Operations about Profiles
  - name: webhooks
    description: Operations about Webhooks
  - name: templates
    description: Operations about Templates
  - name: subaccounts
    description: Operations about Subaccounts
  - name: teams
    description: Operations about Teams
  - name: messaging
    description: Operations about DIDComm messaging
  - name: oidc
    description: Operations about OIDC
  - name: iden3comm
    description: Operations about iden3comm
  - name: trustRegistries
    description: Operations about trust registries
  - name: data
    description: Operations relating to your own account data
components:
  securitySchemes:
    rapidAPI:
      type: apiKey
      in: header
      name: X-RapidAPI-Proxy-Secret
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    accessToken:
      type: apiKey
      in: header
      name: DOCK-API-TOKEN
    nextAuth:
      type: apiKey
      in: header
      name: CERTS-TOKEN
  schemas:
    OID4VPRequestCreate:
      properties:
        withIdToken:
          type: boolean
          default: false
        withRequestURI:
          type: boolean
          default: false
    UserProfile:
      required:
        - image
        - name
      properties:
        name:
          type: string
        image:
          type: string
    TrustRegistryCreateRequest:
      type: object
      required:
        - convener
        - name
        - description
        - logoUrl
        - ecosystemUrl
        - governanceFramework
        - governanceFrameworkVersion
      properties:
        convener:
          $ref: '#/components/schemas/DID'
        name:
          type: string
          description: Trust registry name
          example: 'Dock Example Ecosystem'
        description:
          type: string
          description: Trust registry description
          example: 'Labore voluptate adipisicing magna duis eu fugiat pariatur excepteur irure.'
        logoUrl:
          type: string
          format: uri
          minimum: 8
          example: https://logo.dock.io/trust-registry
        ecosystemUrl:
          type: string
          format: uri
          minimum: 8
          example: https://ecosystem.dock.io
        governanceFramework:
          type: string
          description: Trust registry governance framework
          example: 'Lorem ea ea reprehenderit cupidatat minim incididunt occaecat est sit.'
        governanceFrameworkVersion:
          type: string
          description: Trust registry governance framework version
          example: '1.0.0'
    TrustRegistryUpdateRequest:
      type: object
      required:
        - name
        - description
        - logoUrl
        - ecosystemUrl
        - governanceFramework
        - governanceFrameworkVersion
      properties:
        name:
          type: string
          description: Trust registry name
          example: 'Dock Example Ecosystem'
        description:
          type: string
          description: Trust registry description
          example: 'Labore voluptate adipisicing magna duis eu fugiat pariatur excepteur irure.'
        logoUrl:
          type: string
          description: Trust registry logo URL
          format: uri
          minimum: 8
          example: https://logo.dock.io/trust-registry
        ecosystemUrl:
          type: string
          description: Trust registry ecosystem URL
          format: uri
          minimum: 8
          example: https://ecosystem.dock.io
        governanceFramework:
          type: string
          description: Trust registry governance framework
          example: 'Lorem ea ea reprehenderit cupidatat minim incididunt occaecat est sit.'
        governanceFrameworkVersion:
          type: string
          description: Trust registry governance framework version
          example: '1.0.0'
    TrustRegistry:
      type: object
      required:
        - id
        - convener
        - name
        - description
        - created
        - logoUrl
        - ecosystemUrl
        - governanceFramework
        - governanceFrameworkVersion
      properties:
        id:
          type: string
          description: Trust registry ID
          example: '0x601d148fb8895aca83eafb264293069911f76805b748b014ae64fcf0fd2d765d'
        convener:
          $ref: '#/components/schemas/DID'
        convenerName:
          type: string
          description: Convener name
          example: 'Dock'
        convenerLogoUrl:
          type: string
          description: Convener logo URL
          example: 'https://logo.dock.io/convener'
        slug:
          type: string
          description: Trust registry slug
          example: 'dock-example-ecosystem-1'
        nonce:
          type: string
          description: Trust registry nonce
          example: '0x57aecb3863404812'
        created:
          type: string
          format: date-time
        name:
          type: string
          description: Trust registry name
          example: 'Dock Example Ecosystem'
        description:
          type: string
          description: Trust registry description
          example: 'Labore voluptate adipisicing magna duis eu fugiat pariatur excepteur irure.'
        logoUrl:
          type: string
          description: Trust registry logo URL
          format: uri
          minimum: 8
          example: https://logo.dock.io/trust-registry
        ecosystemUrl:
          type: string
          description: Trust registry ecosystem URL
          format: uri
          minimum: 8
          example: https://ecosystem.dock.io
        governanceFramework:
          type: string
          description: Trust registry governance framework
          example: 'Lorem ea ea reprehenderit cupidatat minim incididunt occaecat est sit.'
        governanceFrameworkVersion:
          type: string
          description: Trust registry governance framework version
          example: '1.0.0'
        issuerCount:
          type: integer
          description: Trust registry issuer count
          example: 10
        verifierCount:
          type: integer
          description: Trust registry verifier count
          example: 5
    TrustRegistries:
      type: array
      items:
        $ref: '#/components/schemas/TrustRegistry'
    TrustRegistryInviteAcceptRequest:
      type: object
      required:
        - token
        - did
        - infoUrl
      properties:
        token:
          type: string
          description: The invite token
          example: 'eyJhbGc...2VVqUw'
        did:
          $ref: '#/components/schemas/DID'
        infoUrl:
          anyOf:
            - type: string
              description: Trust registry participant info URL
              format: uri
              minimum: 8
            - type: string
              description: Trust registry participant info URL
              enum: [""]
          example: https://info.dock.io/trust-registry/participant/1234
    TrustRegistryInviteRequest:
      type: object
      properties:
        maxAge:
          type: integer
          description: Max age of the invite in seconds
        issuerSchemas:
          type: array
          items:
            type: string
            description: Trust registry issuer schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
        verifierSchemas:
          type: array
          items:
            type: string
            description: Trust registry verifier schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
    TrustRegistryInviteResponse:
      type: object
      required:
        - link
      properties:
        link:
          type: string
          description: The trust registry invite link
          example: 'https://trust-registry.dock.io/ecosystems?token=eyJhbGc...2VVqUw'
    TrustRegistryParticipant:
      type: object
      required:
        - id
        - name
        - did
        - logoUrl
      properties:
        id:
          type: string
          description: Trust registry participant ID
          example: '23314808-eec6-4492-9a8a-8f32e34b8155'
        name:
          type: string
          description: Trust registry participant name
          example: 'Dock Issuer'
        did:
          $ref: '#/components/schemas/DID'
        description:
          type: string
          description: Trust registry participant description
          example: 'Labore voluptate adipisicing magna duis eu fugiat pariatur excepteur irure.'
        logoUrl:
          type: string
          description: Trust registry participant logo URL
          format: uri
          minimum: 8
          example: 'https://logo.dock.io/participant'
        infoUrl:
          anyOf:
            - type: string
              description: Trust registry participant info URL
              format: uri
              minimum: 8
            - type: string
              description: Trust registry participant info URL
              enum: [""]
          example: https://info.dock.io/trust-registry/participant/1234
        status:
          type: string
          description: Trust registry participant status
          example: 'active'
          enum: [active, suspended]
        role:
          type: string
          description: Trust registry participant role
          example: 'issuer'
          enum: [verifier+issuer, issuer, verifier]
        created:
          type: string
          format: date-time
        suspendedAt:
          type: string
        issuerSchemas:
          type: array
          items:
            type: string
            description: Trust registry participant issuer schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
        verifierSchemas:
          type: array
          items:
            type: string
            description: Trust registry participant verifier schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
    TrustRegistryParticipantPatch:
      type: object
      properties:
        name:
          type: string
          description: Trust registry participant name
          example: 'Dock Issuer'
        logoUrl:
          type: string
          description: Trust registry participant logo URL
          format: uri
          minimum: 8
          example: https://logo.dock.io/trust-registry-participant/1234
        infoUrl:
          anyOf:
            - type: string
              description: Trust registry participant info URL
              format: uri
              minimum: 8
            - type: string
              description: Trust registry participant info URL
              enum: [""]
          example: https://info.dock.io/trust-registry/participant/1234
        status:
          type: string
          description: Trust registry participant status
          example: 'active'
          enum: [active, suspended]
        suspendedAt:
          type: string
        issuerSchemas:
          type: array
          items:
            type: string
            description: Trust registry participant issuer schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
        verifierSchemas:
          type: array
          items:
            type: string
            description: Trust registry participant verifier schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
    TrustRegistryParticipantInfoPatch:
      type: object
      properties:
        infoUrl:
          anyOf:
            - type: string
              description: Trust registry participant info URL
              format: uri
              minimum: 8
            - type: string
              description: Trust registry participant info URL
              enum: [""]
          example: https://info.dock.io/trust-registry/participant/1234
    TrustRegistryParticipants:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
          description: Total number of participants
          example: 42
        list:
          type: array
          items:
            $ref: '#/components/schemas/TrustRegistryParticipant'
    TrustRegistrySchema:
      type: object
      required:
        - id
        - name
        - participantCount
        - topParticipants
        - public
      properties:
        id:
          type: string
          description: Trust registry schema ID
          example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
        name:
          type: string
          description: Trust registry schema name
          example: 'Example Schema'
        public:
          type: boolean
          description: Whether the schema is currently public (i.e. can be verified by anyone).
        participantCount:
          type: integer
          description: How many participants have this schema assigned
          example: 10
        prices:
          type: array
          description: Prices assigned to this schema
          items:
            $ref: '#/components/schemas/TrustRegistrySchemaPrice'
        topParticipants:
          type: array
          description: Top participants that have this schema assigned
          items:
            $ref: '#/components/schemas/TrustRegistryParticipant'
    TrustRegistrySchemaPrice:
      type: object
      required:
        - currency
        - digits
      properties:
        currency:
          type: string
          description: Currency code
          example: USD
        digits:
          description: Bigint representation of the price. Multiply by 1,000,000 to support fractional cents.
          oneOf:
            - type: integer
            - type: string
          example: 100000000
        verifier:
          $ref: '#/components/schemas/DID'
    TrustRegistryReport:
      type: object
      required:
        - verifierDID
        - issuerDID
        - schemaId
        - currency
        - verifierFee
        - vendorFee
        - created
      properties:
        trustRegistryId:
          description: Trust registry ID
          type: string
          example: '0x601d148fb8895aca83eafb264293069911f76805b748b014ae64fcf0fd2d765d'
        verificationId:
          description: Verification ID
          type: string
          example: 798e9e9f-9a73-4bd3-881f-367e1d1c70ee
        verifierDID:
          $ref: '#/components/schemas/DID'
        issuerDID:
          $ref: '#/components/schemas/DID'
        schemaId:
          description: Schema ID
          type: string
          example: https://schema.dock.io/ExampleSchema-V5-1722512884923.json
        currency:
          description: Currency code
          type: string
          example: USD
        verifierFee:
          description: Verifier fee
          type: string
          example: 123456
        vendorFee:
          description: Vendor fee
          type: string
          example: 6172
        created:
          type: string
          format: date-time
    TrustRegistryReports:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
        list:
          type: array
          items:
            $ref: '#/components/schemas/TrustRegistryReport'
    TrustRegistrySchemas:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
          description: Total number of schemas
          example: 200
        list:
          type: array
          items:
            $ref: '#/components/schemas/TrustRegistrySchema'
    TrustRegistryProofTemplateAssignRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: The proof template ID
          example: a6cd414a-6eba-4241-9a9c-6f75864edbd5
    TrustRegistryProofTemplates:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
          description: Total number of proof templates
          example: 200
        list:
          type: array
          items:
            $ref: '#/components/schemas/ProofRequest'
    TrustRegistryPublic:
      type: object
      required:
        - id
        - name
        - logoUrl
        - ecosystemUrl
      properties:
        id:
          type: string
          description: Trust registry ID
          example: '0x601d148fb8895aca83eafb264293069911f76805b748b014ae64fcf0fd2d765d'
        name:
          type: string
          description: Trust registry name
          example: 'Dock Example Ecosystem'
        logoUrl:
          type: string
          description: Trust registry logo URL
          format: uri
          minimum: 8
          example: https://logo.dock.io/trust-registry
        ecosystemUrl:
          type: string
          description: Trust registry ecosystem URL
          format: uri
          minimum: 8
          example: https://ecosystem.dock.io
    TrustRegistryPublicList:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
        list:
          type: array
          items:
            $ref: '#/components/schemas/TrustRegistryPublic'
    TrustRegistryGenericSchemaPrice:
      type: object
      required:
        - currency
        - digits
        - trustRegistryId
        - trustRegistryMetadata
      properties:
        currency:
          type: string
          description: Currency code
          example: USD
        digits:
          description: Bigint representation of the price. Multiply by 1,000,000 to support fractional cents.
          oneOf:
            - type: integer
            - type: string
          example: 100000000
        trustRegistryId:
          description: Trust registry ID
          type: string
          example: '0x601d148fb8895aca83eafb264293069911f76805b748b014ae64fcf0fd2d765d'
        trustRegistryMetadata:
          type: object
          description: Trust registry metadata
          properties:
            name:
              type: string
              description: Trust registry name
              example: Example Trust Registry
            logoUrl:
              type: string
              description: Trust registry logo URL
              format: uri
              minimum: 8
              example: https://logo.dock.io/trust-registry
            description:
              type: string
              description: Trust registry description
              example: Example Trust Registry Description
            ecosystemUrl:
              type: string
              description: Trust registry ecosystem URL
              format: uri
              minimum: 8
              example: https://ecosystem.dock.io
            governanceFramework:
              type: string
              description: Trust registry governance framework
              example: Example Governance Framework
            governanceFrameworkVersion:
              type: string
              description: Trust registry governance framework version
              example: 1.0
    TrustRegistryGenericSchemaPrices:
      description: Trust registry schema prices
      type: array
      items:
        type: object
        properties:
          schema:
            type: string
            description: The schema ID
            example: https://schema.dock.io/ExampleSchema-V5-1722512884923.json
          prices:
            type: array
            items:
              $ref: '#/components/schemas/TrustRegistryGenericSchemaPrice'
    TrustRegistryGenericSchemaDids:
      description: Trust registry schema dids
      type: array
      items:
        type: object
        properties:
          schema:
            type: string
            description: The schema ID
            example: https://schema.dock.io/ExampleSchema-V5-1722512884923.json
          dids:
            type: array
            items:
              $ref: '#/components/schemas/DID'
    CredentialIssueRequest:
      type: object
      required:
        - credential
      properties:
        persist:
          type: boolean
          default: false
          description: Whether to persist this credential in our systems, giving it its own web page and import options
        password:
          type: string
          maxLength: 32
          minLength: 4
          description: Password to encrypt this credential with, required if persist is set to true
        anchor:
          type: boolean
          default: false
          description: Anchor the credential on the blockchain or not
        template:
          type: string
          format: uuid
          description: The credential template ID
        recipientEmail:
          type: string
          description: The holder's email for email distribution
        algorithm:
          type: string
          maxLength: 32
          minLength: 4
          description: Optional algorithm parameter, such as dockbbs
        distribute:
          type: boolean
          default: false
          description: Whether to distribute the credential or not based on subject DID or email address
        format:
          type: string
          enum: [jsonld, jwt]
          description: Optional credential format parameter, options are jsonld and jwt
        credential:
          $ref: '#/components/schemas/Credential'
    Error:
      description: An API Error
      type: object
      properties:
        status:
          type: integer
        type:
          type: string
        message:
          type: string
    Hex32:
      description: 32 byte hex string. Ignoring higher base (base64) for similicity.
      type: string
      minimum: 64
      maximum: 64
    JobStartedResult:
      description: Object containing unique id of the background task and associated data. This id can be used to query the job status
      properties:
        id:
          type: string
        data:
          type: object
    JobId:
      description: Unique id of the background task. This id can be used to query the job status
      type: string
    JobStatus:
      description: Status of the job.
      type: string
      enum: [todo, finalized, in_progress, error]
    JobDesc:
      description: Description of the job including result if available
      properties:
        id:
          $ref: '#/components/schemas/JobId'
        status:
          $ref: '#/components/schemas/JobStatus'
        result:
          type: object
    DID:
      description: DID as fully qualified, typically. `did:dock:`
      type: string
      minimum: 32
      example: did:dock:xyz
    NumericID:
      description: A unique numeric ID
      type: string
    URI:
      description: Valid URI
      type: string
      format: uri
      minimum: 8
      example: https://credentials.dock.io/1234
    KeyType:
      description: Type of public key for DID
      type: string
      enum:
        - sr25519
        - ed25519
        - secp256k1
        - bjj
    SigType:
      description: Type of signature
      type: string
      enum:
        - Sr25519Signature2020
        - Ed25519Signature2018
        - EcdsaSecp256k1Signature2019
        - Bls12381BBS+SignatureDock2022
        - Bls12381BBS+SignatureProofDock2022
        - Bls12381BBDT16MACDock2024
        - Bls12381BBSSignatureDock2023
        - Bls12381BBSVerificationKeyDock2023
        - BJJSignature2021
    ProofPurpose:
      description: Purpose of credential
      type: string
      enum:
        - assertionMethod
        - authentication
    Context:
      description: JSON-LD context
      oneOf:
        - type: array
          items:
            oneOf:
              - type: string
              - type: object
        - type: string
    DIDDoc:
      description: DID document. The current set of properties is incomplete
      type: object
      properties:
        "@context":
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/DID'
        authentication:
          type: array
          items:
            oneOf:
              - type: object
              - type: string
    Credential:
      description: Format to create credentials with the API
      type: object
      properties:
        id:
          type: string
          format: uri
        name:
          type: string
        description:
          type: string
        schema:
          oneOf:
            - type: object
            - type: string
              format: uri
        context:
          $ref: '#/components/schemas/Context'
        type:
          type: array
          items:
            type: string
        subject:
          oneOf:
            - type: object
            - type: array
        issuer:
          oneOf:
            - type: string
              $ref: '#/components/schemas/DID'
            - type: object
        issuanceDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time
        status:
          description: Revocation registry id or user supplied status object
          oneOf:
            - type: object
            - type: string
    Team:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          description: The team ID
        team_owner_id:
          type: integer
          description: The team owner ID
        name:
          type: string
          description: The team name
          nullable: true
    TeamMember:
      type: object
      required:
        - id
        - name
      properties:
        id:
          description: The team member ID
          type: integer
        name:
          description: The team member name
          type: string
        email:
          description: The team member email
          type: string
        image:
          description: The team member image
          type: string
        role:
          description: The team member role
          type: string
          enum: ['member', 'administrator', 'owner']
    Notification:
      type: object
      required:
        - type
        - data
        - created
      properties:
        type:
          description: The type of the notification
          type: string
        data:
          description: The data of the notification, varies depending on type
          type: object
        created:
          description: The datetime of the notification 
          type: string
          format: date-time
    Notifications:
      type: object
      required:
        - total
        - list
      properties:
        total:
          description: The total number of records
          type: integer
        list:
          description: The current paged records
          type: array
          items:
            $ref: '#/components/schemas/Notification'
    TeamMembers:
      type: array
      items:
        $ref: '#/components/schemas/TeamMember'
    TeamMemberInvitation:
      type: object
      required:
        - id
        - email
      properties:
        id:
          description: The team member invitation ID
          type: integer
        email:
          description: The team member invitation email
          type: string
        status:
          description: The team member invitation status
          type: string
          enum: ['pending', 'accepted', 'canceled']
    TeamMemberInvitations:
      type: array
      items:
        $ref: '#/components/schemas/TeamMemberInvitation'
    EncryptedWallet:
      description: An encrypted Universal Wallet JSON-LD document
      type: object
    UnsignedVerifiablePresentation:
      description: Verifiable Presentation that is unsigned
      type: object
      properties:
        "@context":
          $ref: '#/components/schemas/Context'
        id:
          type: string
          format: uri
        type:
          type: array
          items:
            type: string
        verifiableCredential:
          oneOf:
            - type: object
              $ref: '#/components/schemas/VerifiableCredential'
            - type: array
              items:
                type: object
                $ref: '#/components/schemas/VerifiableCredential'
    VerifiablePresentation:
      description: Verifiable Presentation that has been signed
      type: object
      properties:
        "@context":
          $ref: '#/components/schemas/Context'
        id:
          type: string
          format: uri
        type:
          type: array
          items:
            type: string
        verifiableCredential:
          oneOf:
            - type: object
              $ref: '#/components/schemas/VerifiableCredential'
            - type: array
              items:
                type: object
                $ref: '#/components/schemas/VerifiableCredential'
        proof:
          oneOf:
            - type: object
              $ref: '#/components/schemas/VerifiableProof'
            - type: array
              items:
                type: object
                $ref: '#/components/schemas/VerifiableProof'
    VerifiableProof:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SigType'
        proofPurpose:
          $ref: '#/components/schemas/ProofPurpose'
        verificationMethod:
          type: string
        created:
          type: string
          format: date-time
        proofValue:
          type: string

    VerifiableCredential:
      description: Verifiable (signed) Credential returned by API. The current set of properties is almost complete
      type: object
      properties:
        "@context":
          $ref: '#/components/schemas/Context'
        id:
          type: string
          format: uri
        type:
          type: array
          items:
            type: string
        credentialSubject:
          oneOf:
            - type: object
            - type: array
              items:
                type: object
        issuer:
          oneOf:
            - type: string
              $ref: '#/components/schemas/DID'
            - type: object
        issuanceDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time
        credentialStatus:
          description: Revocation registry id or user supplied status object
          oneOf:
            - type: object
            - type: string
        proof:
          oneOf:
            - type: object
              $ref: '#/components/schemas/VerifiableProof'
            - type: array
              items:
                type: object
                $ref: '#/components/schemas/VerifiableProof'
    Anchor:
      description: An anchor. Either a batched or single. Data includes anchor, type (single, batch), block hash, block no and accompanying data (root, proofs) if any. The data depends if the anchor was created using API or not.
      type: object
      properties:
        anchor:
          $ref: '#/components/schemas/Hex32'
        blockHash:
          $ref: '#/components/schemas/Hex32'
        root:
          $ref: '#/components/schemas/Hex32'
    Registry:
      description: Revocation registry
      type: object
      properties:
        addOnly:
          type: boolean
        policy:
          description: Only one policy supported as of now called `OneOf`
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/DID'
        type:
          type: string
          enum:
            - CredentialStatusList2017
            - StatusList2021Entry
            - DockVBAccumulator2022
          default: "StatusList2021Entry"
    VerificationResponse:
      description: Whether a credential/presentation/anchor is verified or not
      type: object
      properties:
        verified:
          type: boolean
        results:
          type: array
          items:
            type: object
    Response:
      description: Default response
      type: object
      properties:
        code:
          type: integer
    PaginatedListResponse:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
        list:
          type: array
          items:
            type: object
    ArrayResponse:
      description: Default response
      type: array
      items:
        type: object
    Template:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
        html:
          type: string
        css:
          type: string
        name:
          type: string
        metadata:
          type: object
    Templates:
      type: array
      items:
        $ref: '#/components/schemas/Template'
    Subaccount:
      type: object
      required:
        - id
        - name
      properties:
        id:
          description: The sub account ID
          type: integer
        name:
          description: The sub account name
          type: string
        email:
          description: The sub account email
          type: string
        image:
          description: The sub account image
          type: string
    Subaccounts:
      type: array
      items:
        $ref: '#/components/schemas/Subaccount'
    Profile:
      type: object
      required:
        - did
        - name
      properties:
        did:
          type: string
        name:
          type: string
        logo:
          type: string
    Profiles:
      type: array
      items:
        $ref: '#/components/schemas/Profile'
    ApiKey:
      type: object
      required:
        - key
        - created
        - expires
      properties:
        ips:
          type: array
          items:
            type: string
        key:
          type: string
        created:
          type: string
        expires:
          type: string
    ApiKeys:
      type: array
      items:
        $ref: '#/components/schemas/ApiKey'
    TemporaryKey:
      type: object
      properties:
        key:
          type: string
        selectedTeamId:
          type: integer
    WebhookCreate:
      type: object
      required:
        - url
        - events
      properties:
        url:
          type: string
        description:
          type: string
        status:
          type: integer
        events:
          type: array
          items:
            type: string
    ApiWebhook:
      type: object
      required:
        - id
        - url
        - events
        - created
        - status
        - description
        - secret
      properties:
        events:
          type: array
          items:
            type: string
        url:
          type: string
        id:
          $ref: '#/components/schemas/NumericID'
        created:
          type: string
        secret:
          type: string
        description:
          type: string
    ApiWebhooks:
      type: array
      items:
        $ref: '#/components/schemas/ApiWebhook'
    IndyProofReqAttrSpec:
      type: object
      properties:
        name:
          type: string
          example: favouriteDrink
          description: Attribute name
        names:
          type: array
          description: Attribute name group
          items:
            type: string
            example: age

    ProofRequest:
      type: object
      properties:
        attributes:
          type: object
          description: Requested attribute specifications of proof request
          additionalProperties:
            $ref: '#/components/schemas/IndyProofReqAttrSpec'
        name:
          type: string
          description: Proof request name
          example: Proof request
        nonce:
          type: string
          description: Nonce or challenge for the presentation to match
          example: '1234567890'
        qr:
          type: string
          description: QR code deep link for mobile wallet scanning
        did:
          description: A DID
          $ref: '#/components/schemas/DID'
      required:
        - name
    ProofRequests:
      type: array
      items:
        $ref: '#/components/schemas/ProofRequest'
    ProofRequestsHistory:
      type: array
      items:
        allOf:
          - $ref: '#/components/schemas/ProofRequest'
          - type: object
            properties:
              credentialsIssuers:
                type: array
                items:
                  type: object
                  properties:
                    issuerDid:
                      type: string
                    issuerName:
                      type: string
                    issuerLogo:
                      type: string
                    issuerTrustRegistries:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          logoUrl:
                            type: string
    ProofTemplateObject:
      allOf:
        - $ref: '#/components/schemas/ProofRequest'
        - type: object
          required:
            - id
            - created
            - updated
          properties:
            id:
              type: string
              format: uuid
            error:
              type: string
            created:
              type: string
              format: date-time
            updated:
              type: string
              format: date-time
            did:
              description: A DID
              $ref: '#/components/schemas/DID'
    ProofRequestObject:
      allOf:
        - $ref: '#/components/schemas/ProofRequest'
        - type: object
          required:
            - id
            - created
            - response_url
          properties:
            id:
              type: string
              format: uuid
            error:
              type: string
            response_url:
              type: string
            verified:
              type: boolean
            presentation:
              type: object
            created:
              type: string
              format: date-time
            updated:
              type: string
              format: date-time
            did:
              description: A DID
              $ref: '#/components/schemas/DID'
            verifierName:
              type: string
            verifierLogo:
              type: string
    OpenIDIssuer:
      type: object
      properties:
        credentialOptions:
          $ref: '#/components/schemas/CredentialIssueRequest'
        authProvider:
          type: object
          description: OIDC provider configuration
          properties:
            url:
              type: string
            scope:
              type: array
              items:
                type: string
            clientId:
              type: string
            clientSecret:
              type: string
            claimsSource:
              type: string
              enum:
                - idToken
                - userInfo
              default: "idToken"
            requestParameters:
              type: object
              description: Extra request parameters passed to the federated OIDC provider, such as login hint
          required:
            - url
            - scope
            - clientId
            - clientSecret
        claimMap:
          type: object
          description: Key/value pair mapping for OIDC claims to JSON-LD terms
        singleUse:
          type: boolean
          default: false
        issuer:
          type: string
        protocol:
          type: string
          default: "default"
      required:
        - credentialOptions
        - claimMap
    OpenIDIssuers:
      type: array
      items:
        $ref: '#/components/schemas/OpenIDIssuer'

security:
  - accessToken: []
  - bearerAuth: []
  - nextAuth: []
  - rapidAPI: []

paths:
  /teams/accept-member-invite:
    post:
      summary: Accept invitation to be a team member
      tags:
        - teams
      requestBody:
        description: Accept invitation token
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accept_invitation_token
              properties:
                accept_invitation_token:
                  description: The token received in the mail
                  type: string
      responses:
        '200':
          description: Invitation has been accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          description: Error accepting the invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /teams/{id}/invite:
    post:
      summary: Send email invitations to a list of emails
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
      requestBody:
        description: Emails array
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - emails
              properties:
                emails:
                  description: The emails list
                  type: array
      responses:
        '200':
          description: Invitations have been sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: Error sending the invitations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You are not the owner or the administrator of this team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /teams/{id}:
    patch:
      summary: Update a Team
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
      requestBody:
        description: Team JSON object that will be applied
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  description: The new team name
                  type: string
      responses:
        '200':
          description: Team has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          description: Error updating team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  # Disabled
  # /teams/{id}/transfer-ownership:
  #   post:
  #     summary: Transfer ownership of a Team
  #     tags:
  #       - teams
  #     parameters:
  #       - name: id
  #         in: path
  #         required: true
  #         description: An ID
  #         schema:
  #           type: string
  #     requestBody:
  #       description: JSON object that will be applied
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             required:
  #               - new_owner_id
  #             properties:
  #               new_owner_id:
  #                 description: The id of the new owner
  #                 type: string
  #     responses:
  #       '200':
  #         description: Invitation email has been sent
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Response'
  #       '400':
  #         description: Error updating team
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'
  # /teams/accept-transfer-ownership:
  #   post:
  #     summary: Accept transfer ownership of a Team
  #     tags:
  #       - teams
  #     requestBody:
  #       description: JSON object that will be applied
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             required:
  #               - accept_token
  #             properties:
  #               accept_token:
  #                 description: The token received with all the needed informations
  #                 type: string
  #     responses:
  #       '200':
  #         description: Ownership of the team transferred
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Response'
  #       '400':
  #         description: Error updating team
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'
  /teams/{id}/invitations:
    get:
      summary: List all Team Member Invitations
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 64)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 64
        - name: status
          in: query
          description: Filter invitations by status (pending, canceled, accepted)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paged array of invitations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMemberInvitations'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /teams/{id}/invitations/{invitation_id}/resend:
    post:
      summary: Resend the invitation email
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
        - name: invitation_id
          in: path
          required: true
          description: An ID
          schema:
            type: string
      responses:
        '200':
          description: The invitation has been resent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invitation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You are not the owner or the administrator of this team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /teams/{id}/invitations/{invitation_id}/cancel:
    post:
      summary: Cancel the current invitation
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
        - name: invitation_id
          in: path
          required: true
          description: An ID
          schema:
            type: string
      responses:
        '200':
          description: The invitation has been canceled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invitation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You are not the owner or the administrator of this team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /teams/{id}/members:
    get:
      summary: List all Team Members
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 64)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 64
      responses:
        '200':
          description: A paged array of team members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMembers'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /teams/{id}/members/{user_id}:
    delete:
      summary: Deletes a single team member
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
        - name: user_id
          in: path
          required: true
          description: An ID
          schema:
            type: string
      responses:
        '200':
          description: Team member deleted
        '400':
          description: Error deleting team member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Team member was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You are not the owner or the administrator of this team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update a team member
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: string
        - name: user_id
          in: path
          required: true
          description: An ID
          schema:
            type: string
      requestBody:
        description: Team member JSON object that will be applied
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
              properties:
                role:
                  description: The new team member role
                  type: string
                  enum: ['member', 'administrator']
      responses:
        '200':
          description: Team member updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMember'
        '400':
          description: Error updating team member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Team member was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You are not the owner or the administrator of this team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subaccounts:
    post:
      summary: Create a Subaccount
      tags:
        - subaccounts
      requestBody:
        description: Subaccount object
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  description: The sub account name
                  type: string
                image:
                  description: The sub account image
                  type: string
      responses:
        '200':
          description: Subaccount has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subaccount'
        '400':
          description: Error creating subaccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List all Subaccounts
      tags:
        - subaccounts
      parameters:
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 64)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 64
      responses:
        '200':
          description: A paged array of subaccounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subaccounts'
  /subaccounts/{id}:
    get:
      summary: Info for a specific subaccount by ID
      tags:
        - subaccounts
      parameters:
        - name: id
          in: path
          required: true
          description: An subaccount ID
          schema:
            type: integer

      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subaccount'
        '400':
          description: Error getting subaccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Subaccount was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You do not own this subaccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update a Subaccount
      tags:
        - subaccounts
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: string
      requestBody:
        description: Subaccount properties
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  description: The sub account name
                  type: string
                image:
                  description: The sub account image
                  type: string
      responses:
        '200':
          description: Subaccount has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subaccount'
        '400':
          description: Error creating subaccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You do not own this subaccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Deletes a single subaccount
      tags:
        - subaccounts
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: string
      responses:
        '200':
          description: Subaccount deleted
        '400':
          description: Error deleting subaccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Subaccount was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You do not own this subaccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subaccounts/{id}/usage:
    get:
      summary: Lists transaction usage for this sub account
      tags:
        - subaccounts
      parameters:
        - name: id
          in: path
          required: true
          description: An subaccount ID
          schema:
            type: integer
        - name: startTime
          in: query
          description: Timestamp for the start of the range (ISO 8601)
          required: false
          schema:
            type: string
            format: date-time
        - name: endTime
          in: query
          description: Timestamp for the end of the range (ISO 8601)
          required: false
          schema:
            type: string
            format: date-time
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 64)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 64
      responses:
        '200':
          description: A paged array of subaccount transaction usage metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayResponse'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You do not own this subaccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subaccounts/{id}/keys:
    post:
      summary: Creates an API key for a subaccount
      tags:
        - subaccounts
      parameters:
        - name: id
          in: path
          required: true
          description: An subaccount ID
          schema:
            type: integer
            format: int32
      requestBody:
        description: Subaccount properties
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Subaccoun API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: Error creating subaccount API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You do not own this subaccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List all subaccount keys
      tags:
        - subaccounts
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: string
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 64)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 64
      responses:
        '200':
          description: A paged array of subaccount key metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayResponse'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You do not own this subaccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /subaccounts/{id}/keys/{keyId}:
    delete:
      summary: Deletes a subaccount API key 
      tags:
        - subaccounts
      parameters:
        - name: id
          in: path
          required: true
          description: An subaccount ID
          schema:
            type: integer
            format: int32
        - name: keyId
          in: path
          required: true
          description: An API key ID
          schema:
            type: string
      responses:
        '200':
          description: Subaccount API key deleted
        '400':
          description: Error deleting subaccount API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Subaccount API key was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You do not own this subaccount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /profiles:
    post:
      summary: Create a Profile
      tags:
        - profiles
      requestBody:
        description: Profile JSON object that will be applied to each issuer object when you create a credential that has an issuer DID profile
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - did
              properties:
                did:
                  description: A DID
                  $ref: '#/components/schemas/DID'
      responses:
        '200':
          description: Profile has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: Error creating profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User doesnt own profile DID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List all Profiles
      tags:
        - profiles
      parameters:
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 64)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 64
      responses:
        '200':
          description: A paged array of profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profiles'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /profiles/{did}:
    get:
      summary: Info for a specific profile by DID
      tags:
        - profiles
      parameters:
        - name: did
          in: path
          required: true
          description: A DID
          schema:
            $ref: '#/components/schemas/DID'
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: Error getting profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Profile was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update a Profile
      tags:
        - profiles
      parameters:
        - name: did
          in: path
          required: true
          description: A DID
          schema:
            $ref: '#/components/schemas/DID'
      requestBody:
        description: Profile JSON object that will be applied to each issuer object when you create a credential that has an issuer DID profile
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - did
              properties:
                did:
                  description: A DID
                  $ref: '#/components/schemas/DID'
      responses:
        '200':
          description: Profile has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: Error creating profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Deletes a single profile based on the supplied value of DID
      tags:
        - profiles
      parameters:
        - name: did
          in: path
          required: true
          description: A DID
          schema:
            $ref: '#/components/schemas/DID'
      responses:
        '200':
          description: Profile Deleted
        '400':
          description: Error deleting profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Profile was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /templates:
    post:
      summary: Create a template
      tags:
        - templates
      requestBody:
        description: Template JSON object
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - html
                - css
                - name
              properties:
                html:
                  description: The HTML content of the template
                  type: string
                css:
                  description: The CSS content of the template
                  type: string
                name:
                  description: The name of the template
                  type: string
      responses:
        '200':
          description: template has been created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          description: Error creating template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User doesnt own template DID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List all templates
      tags:
        - templates
      parameters:
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 64)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 64
      responses:
        '200':
          description: A paged array of templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Templates'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /templates/{id}:
    get:
      summary: Info for a specific template by DID
      tags:
        - templates
      parameters:
        - name: id
          in: path
          required: true
          description: The template ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          description: Error getting template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: template was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update a template
      tags:
        - templates
      parameters:
        - name: id
          in: path
          required: true
          description: A template ID
          schema:
            type: string
      requestBody:
        description: Template JSON object
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - html
                - css
                - name
              properties:
                html:
                  description: The HTML content of the template
                  type: string
                css:
                  description: The CSS content of the template
                  type: string
                name:
                  description: The name of the template
                  type: string
      responses:
        '200':
          description: Template has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          description: Error creating template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Deletes a single template based on ID provided
      tags:
        - templates
      parameters:
        - name: id
          in: path
          required: true
          description: A template ID
          schema:
            type: string
      responses:
        '200':
          description: Template deleted
        '400':
          description: Error deleting template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: template was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /jobs/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: A Job id
        schema:
          $ref: '#/components/schemas/JobId'
    get:
      tags:
        - jobs
      summary: Get Job Status and data
      description: Returns information related to the job being processed and its associated blockchain transaction. On completion or failure, the job data will be updated with a response from the blockchain. More info about [Job Status](https://docs.api.dock.io/#get-job-status-and-data)
      responses:
        '200':
          description: Job description is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDesc'
              example:
                id: '2436'
                result:
                  encodedTx: '0x9101040900d729a93bba53d7f3a4e81d7a3f4e61474d2736cbf4b872af7447342d5eede0c5d729a93bba53d7f3a4e81d7a3f4e61474d2736cbf4b872af7447342d5eede0c500de0e54cef15c9654aef41805b5624e28cd0d00a2cfb274ff4e4f1273dc0ae277'
                  userData: did:dock:5GvpXbSA7gQvybPEXcbs7LujLefQiMo2LkFvRyBZLuHDLbFo
                  result:
                    InBlock: '0x42a20e7e74001680ff7f1cb1833d5941c641c2961a46d655b72bb36e0dd602d3'
                status: finalized
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Job id was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /dids:
    post:
      tags:
        - dids
      summary: Create DID
      description: Creates a new DID on chain with an auto generated keypair, the controller will be the same as the DID unless otherwise specified. More info about [Create DID](https://docs.api.dock.io/#create-did)
      requestBody:
        description: Properties of DID
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  default: dock
                  type: string
                  enum:
                    - dock
                    - key
                    - polygonid
                did:
                  $ref: '#/components/schemas/DID'
                controller:
                  $ref: '#/components/schemas/DID'
                keyType:
                  $ref: '#/components/schemas/KeyType'
              example:
                keyType: 'ed25519'
      responses:
        '200':
          description: DID will be created on the network.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStartedResult'
              example:
                id: "2432"
                data:
                  did: "did:dock:5GvpXbSA7gQvybPEXcbs7LujLefQiMo2LkFvRyBZLuHDLbFo"
                  controller: "did:dock:5GvpXbSA7gQvybPEXcbs7LujLefQiMo2LkFvRyBZLuHDLbFo"
        '400':
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict or duplicate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - dids
      summary: List DIDs
      description: Return a list of all DIDs that your user account controls as fully resolved DID documents. More info about [Get DID](https://docs.api.dock.io/#list-dids)
      parameters:
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 64)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 64
      responses:
        '200':
          description: All of a user's DIDs fully resolved into DID documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DIDDoc'

              example:
                - '@context': https://www.w3.org/ns/did/v1
                  id: did:dock:5DEHasvC9G3eVF3qCsN2VQvEbHYdQtsv74ozZ1ngQQj39Luk
                  authentication:
                    - did:dock:5DEHasvC9G3eVF3qCsN2VQvEbHYdQtsv74ozZ1ngQQj39Luk#keys-1
                  assertionMethod:
                    - did:dock:5DEHasvC9G3eVF3qCsN2VQvEbHYdQtsv74ozZ1ngQQj39Luk#keys-1
                  publicKey:
                    - id: did:dock:5DEHasvC9G3eVF3qCsN2VQvEbHYdQtsv74ozZ1ngQQj39Luk#keys-1
                      type: Sr25519VerificationKey2020
                      controller: did:dock:5DEHasvC9G3eVF3qCsN2VQvEbHYdQtsv74ozZ1ngQQj39Luk
                      publicKeyBase58: Cs8XUWkpkscPhEVCsUAicLqd8pL2MoGqahywfRhbtVEi
                - '@context': https://www.w3.org/ns/did/v1
                  id: did:dock:5DM7u1QwYshRs5f1v8d11xjEQ3U8CCq67XKWndf5mSuacVed
                  authentication:
                    - did:dock:5DM7u1QwYshRs5f1v8d11xjEQ3U8CCq67XKWndf5mSuacVed#keys-1
                  assertionMethod:
                    - did:dock:5DM7u1QwYshRs5f1v8d11xjEQ3U8CCq67XKWndf5mSuacVed#keys-1
                  publicKey:
                    - id: did:dock:5DM7u1QwYshRs5f1v8d11xjEQ3U8CCq67XKWndf5mSuacVed#keys-1
                      type: Sr25519VerificationKey2020
                      controller: did:dock:5DM7u1QwYshRs5f1v8d11xjEQ3U8CCq67XKWndf5mSuacVed
                      publicKeyBase58: HiqQJSjfsm79jHw9pFyszt3VCZh67SoEujeM52VhGZrc
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /dids/{did}/ecosystems:
    parameters:
      - name: did
        in: path
        required: true
        description: A DID
        schema:
          $ref: '#/components/schemas/DID'
    get:
      tags:
        - dids
      security: []
      summary: Returns ecosystems that this DID is a participant in
      description: Returns ecosystems that this DID is a participant in
      responses:
        '200':
          description: Ecosystems list that the DID participates in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustRegistryPublicList'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: DID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /dids/{did}/export:
    parameters:
      - name: did
        in: path
        required: true
        description: A DID
        schema:
          $ref: '#/components/schemas/DID'
    post:
      tags:
        - dids
      summary: Export DID document and keys
      description: Exports the DID document and keys as an encrypted Universal Wallet JSON-LD document
      requestBody:
        description: A password to encrypt the result with
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  maxLength: 128
                  minLength: 2
              example:
                password: 'astrongpassword'
      responses:
        '200':
          description: An encrypted Universal Wallet document containing the DID and its keypairs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EncryptedWallet'
        '400':
          description: Invalid params
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: DID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /dids/{did}:
    parameters:
      - name: did
        in: path
        required: true
        description: A DID
        schema:
          $ref: '#/components/schemas/DID'
    get:
      tags:
        - dids
      summary: Get DID
      description: Returns the complete information about the provided "did" which is provided via parameters text box. More info about [Get DID](https://docs.api.dock.io/#resolve-did)

      responses:
        '200':
          description: The DIDDoc
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DIDDoc'
              example:
                '@context': "https://www.w3.org/ns/did/v1"
                id: "did:dock:5DZQEuGNXAN3tHdaxmEWkPVs43yyumjaD6gRKoyTHHvsZxdS"
                authentication:
                  "did:dock:5DZQEuGNXAN3tHdaxmEWkPVs43yyumjaD6gRKoyTHHvsZxdS#keys-1"
                assertionMethod:
                  "did:dock:5DZQEuGNXAN3tHdaxmEWkPVs43yyumjaD6gRKoyTHHvsZxdS#keys-1"
                publicKey:
                  - id: "did:dock:5DZQEuGNXAN3tHdaxmEWkPVs43yyumjaD6gRKoyTHHvsZxdS#keys-1"
                    type: "Sr25519VerificationKey2020"
                    controller: "did:dock:5EncrTiZ69AZptPJSJCeev1inay2NJcrXkFsxuSyfTALo96J"
                    publicKeyBase58: "BFHGE7DyTM5HtAKz58pkJN4evS4yRtDMYaxqRYtzT5nj"
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: DID was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - dids
      summary: Delete DID
      description: Deletes a provided DID from the blockchain, further attempts to resolve this DID will fail. More info about [Delete DID](https://docs.api.dock.io/#delete-did)
      responses:
        '200':
          description: Will remove DID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStartedResult'
              example:
                id: "2430"
                data:
                  "status": "pending"
        '404':
          description: DID does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Something went wrong with deleting the DID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /credentials:
    get:
      tags:
        - credentials
      summary: List Credentials
      description: Get all credential metadata
      parameters:
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: All credentials by user
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - credentials
      summary: Issue a Credential
      description: Creates and issues a verifiable credential with supplied data. More info about [Issue a Credential](https://docs.api.dock.io/#credentials)
      requestBody:
        description: A credential issue request body for one credential
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialIssueRequest'
      responses:
        '200':
          description: Example response of a created verifiable credential.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifiableCredential'
              example:
                '@context':
                  - https://www.w3.org/2018/credentials/v1
                  - https://www.w3.org/2018/credentials/examples/v1
                id: http://example.com/123
                type:
                  - VerifiableCredential
                  - UniversityDegreeCredential
                credentialSubject:
                  id: did:sample:subject2
                  degree:
                    type: BachelorDegree
                    name: Bachelor of Science and Arts
                issuanceDate: '2020-08-24T14:15:22Z'
                proof:
                  type: Sr25519Signature2020
                  created: '2022-01-14T19:45:12Z'
                  verificationMethod: did:dock:YourDIDValue#keys-1
                  proofPurpose: assertionMethod
                  proofValue: z7zTs4pVjGyj68WwsnJ6bCoK2CnWFBW5xmSBin7LxcgoYfzET4YXAZcTF9qQBTVhfVC5hK4FUWp9XAedq8Tep8J6
                issuer: did:dock:YourDIDValue
        '400':
          description: Invalid/insufficient credential params.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /credentials/request-claims:
    get:
      tags:
        - credentials
      summary: List Credentials
      description: Get all credential metadata
      parameters:
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 64)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 64
      responses:
        '200':
          description: A paged array of OpenID issuers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIDIssuers'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - credentials
      summary: Issue a Credential after requesting claims from the user
      description: Creates and issues a verifiable credential with supplied data + claims from the user.
      requestBody:
        description: A credential issue request body for one credential
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                singleUse:
                  type: boolean
                  default: true
                schema:
                  type: string
                claims:
                  type: array
                  items:
                    type: string
                credentialOptions:
                  $ref: '#/components/schemas/CredentialIssueRequest'
      responses:
        '200':
          description: OpenID issuer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIDIssuer'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /credentials/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: A valid URI
        schema:
          $ref: '#/components/schemas/URI'
      - name: password
        in: query
        required: false
        description: The encryption password used when issuing/storing the credential
        schema:
          type: string
          maxLength: 64
          minLength: 4
    get:
      tags:
        - credentials
      summary: Get credential metadata and contents if persistent
      description: Get credential metadata and contents if persistent
      responses:
        '200':
          description: The credential metadata and contents (if password is supplied)
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Credential was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Error retrieving the credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - credentials
      summary: Delete a Credential
      description: Deletes all credential metadata and contents from the client. More info about [Delete Credentials](https://docs.api.dock.io/#UpdateLink-Delete-credentials)
      responses:
        '200':
          description: Credential has been deleted.
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Credential was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '400':
          description: Error retrieving the credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /presentations:
    post:
      deprecated: true
      tags:
        - presentations
      summary: Create a presentation
      description: Creates and signs a verifiable presentation out of one or more Verifiable Credentials. More info about [Presentations](https://docs.api.dock.io/#presentations)
      requestBody:
        description: JSON-schema
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                holder:
                  type: string
                  $ref: '#/components/schemas/DID'
                challenge:
                  type: string
                domain:
                  type: string
                credentials:
                  items:
                    $ref: '#/components/schemas/VerifiableCredential'
                  type: array
            example:
              challenge: my challenge
              domain: dock.io
              holder: 'did:DID:Provide_Here_Your_Holder_DID'
              credentials:
                - 'Paste here the output of your issued credentials from POST /credentials - Issue a Credential'

      responses:
        '200':
          description: A Verifiable Presentation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifiablePresentation'
              example:
                '@context':
                  - https://www.w3.org/2018/credentials/v1
                verifiableCredential:
                  - '@context':
                      - https://www.w3.org/2018/credentials/v1
                      - https://www.w3.org/2018/credentials/examples/v1
                    id: http://example.com/124
                    type:
                      - VerifiableCredential
                      - UniversityDegreeCredential
                    credentialSubject:
                      id: did:sample:subject2
                      degree:
                        type: BachelorDegree
                        name: Bachelor of Science and Arts
                    issuanceDate: '2020-08-24T14:15:22Z'
                    proof:
                      type: Sr25519Signature2020
                      created: '2022-01-15T18:57:11Z'
                      verificationMethod: did:dock:5GvpXbSA7gQvybPEXcbs7LujLefQiMo2LkFvRyBZLuHDLbFo#keys-1
                      proofPurpose: assertionMethod
                      proofValue: z3D9VbCs2meciPjrMfzFHc3nziZRmESscyosFtKNMVHUMYvC45Dva12AJU58azYEDjGHfgJtmBqVb3HMBAE2qt7wN
                    issuer: did:dock:5GvpXbSA7gQvybPEXcbs7LujLefQiMo2LkFvRyBZLuHDLbFo
                id: https://creds.dock.io/presentation/9ae34eeaa212a8aa7558df03c81fbe12
                type:
                  - VerifiablePresentation
                proof:
                  type: Sr25519Signature2020
                  created: '2022-01-15T18:58:02Z'
[...]
