openapi: 3.0.2
info:
  version: '1'
  title: Dock API
  description: |
    Dock provides a complete solution for creating and managing verifiable credentials on the blockchain. This includes a free trial and simple, monthly pricing. For more info about [Dock Pricing](https://www.dock.io/pricing).   <br />
    <br /> 1- Get your first API key after login from [Dock Console API board](https://console.api.dock.io/).
    <br />2- Create the `API Key` by switching to test mode, copy and save it to enjoy `free unlimited API calls`.
    <br />3- Select the right server in which you have created your API key.
    <br /> 4- Now click <b>`Authorize`</b> button, and paste the API key into `accessToken (apiKey)` text box.
    <br /> 5- Click again the `Authorize` button to complete authorization process. Click `Close` to execute the API calls.
servers:
  - url: https://api-testnet.dock.io
    description: Sandbox server (uses test data)
  - url: https://api.dock.io
    description: Production server (uses live data)
tags:
  - name: dids
    description: Operations about DIDs
  - name: credentials
    description: Operations about Credentials
  - name: presentations
    description: Operations about Presentations and Proof Requests
  - name: registries
    description: Operations about Registries
  - name: revocationStatus
    description: Operations about Revocation Status
  - name: schemas
    description: Operations about Schemas
  - name: anchors
    description: Operations about Anchors
  - name: jobs
    description: Operations about Jobs
  - name: profiles
    description: Operations about Profiles
  - name: webhooks
    description: Operations about Webhooks
  - name: templates
    description: Operations about Templates
  - name: subaccounts
    description: Operations about Subaccounts
  - name: teams
    description: Operations about Teams
  - name: messaging
    description: Operations about DIDComm messaging
  - name: openid
    description: Operations about OpenID
  - name: iden3comm
    description: Operations about iden3comm
  - name: trustRegistries
    description: Operations about trust registries
  - name: data
    description: Operations relating to your own account data
components:
  securitySchemes:
    rapidAPI:
      type: apiKey
      in: header
      name: X-RapidAPI-Proxy-Secret
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    accessToken:
      type: apiKey
      in: header
      name: DOCK-API-TOKEN
    nextAuth:
      type: apiKey
      in: header
      name: CERTS-TOKEN
  schemas:
    null_type:
      title: "OpenAPI 3.0 null-type ref"
      description: "for adding nullability to a ref"
      enum: [null]
    OID4VPRequestCreate:
      properties:
        withIdToken:
          type: boolean
          default: false
        withRequestURI:
          type: boolean
          default: false
    UserProfile:
      required:
        - image
        - name
      properties:
        name:
          type: string
        image:
          type: string
    TrustRegistryQueryRequest:
      type: object
      properties:
        verifierDID:
          $ref: '#/components/schemas/DID'
        issuerDID:
          $ref: '#/components/schemas/DID'
        schema:
          type: string
    TrustRegistryCreateRequest:
      type: object
      required:
        - convener
        - name
        - description
        - logoUrl
        - ecosystemUrl
        - governanceFramework
        - governanceFrameworkVersion
      properties:
        convener:
          $ref: '#/components/schemas/DID'
        name:
          type: string
          description: Trust registry name
          example: 'Dock Example Ecosystem'
        description:
          type: string
          description: Trust registry description
          example: 'Labore voluptate adipisicing magna duis eu fugiat pariatur excepteur irure.'
        logoUrl:
          type: string
          format: uri
          minimum: 8
          example: https://logo.dock.io/trust-registry
        ecosystemUrl:
          type: string
          format: uri
          minimum: 8
          example: https://ecosystem.dock.io
        governanceFramework:
          type: string
          description: Trust registry governance framework
          example: 'Lorem ea ea reprehenderit cupidatat minim incididunt occaecat est sit.'
        governanceFrameworkVersion:
          type: string
          description: Trust registry governance framework version
          example: '1.0.0'
    TrustRegistryUpdateRequest:
      type: object
      required:
        - name
        - description
        - logoUrl
        - ecosystemUrl
        - governanceFramework
        - governanceFrameworkVersion
      properties:
        name:
          type: string
          description: Trust registry name
          example: 'Dock Example Ecosystem'
        description:
          type: string
          description: Trust registry description
          example: 'Labore voluptate adipisicing magna duis eu fugiat pariatur excepteur irure.'
        logoUrl:
          type: string
          description: Trust registry logo URL
          format: uri
          minimum: 8
          example: https://logo.dock.io/trust-registry
        ecosystemUrl:
          type: string
          description: Trust registry ecosystem URL
          format: uri
          minimum: 8
          example: https://ecosystem.dock.io
        governanceFramework:
          type: string
          description: Trust registry governance framework
          example: 'Lorem ea ea reprehenderit cupidatat minim incididunt occaecat est sit.'
        governanceFrameworkVersion:
          type: string
          description: Trust registry governance framework version
          example: '1.0.0'
    TrustRegistry:
      type: object
      required:
        - id
        - convener
        - name
        - description
        - created
        - logoUrl
        - ecosystemUrl
        - governanceFramework
        - governanceFrameworkVersion
      properties:
        id:
          type: string
          description: Trust registry ID
          example: '0x601d148fb8895aca83eafb264293069911f76805b748b014ae64fcf0fd2d765d'
        convener:
          $ref: '#/components/schemas/DID'
        convenerName:
          type: string
          description: Convener name
          example: 'Dock'
        convenerLogoUrl:
          type: string
          description: Convener logo URL
          example: 'https://logo.dock.io/convener'
        slug:
          type: string
          description: Trust registry slug
          example: 'dock-example-ecosystem-1'
        nonce:
          type: string
          description: Trust registry nonce
          example: '0x57aecb3863404812'
        created:
          type: string
          format: date-time
        name:
          type: string
          description: Trust registry name
          example: 'Dock Example Ecosystem'
        description:
          type: string
          description: Trust registry description
          example: 'Labore voluptate adipisicing magna duis eu fugiat pariatur excepteur irure.'
        logoUrl:
          type: string
          description: Trust registry logo URL
          format: uri
          minimum: 8
          example: https://logo.dock.io/trust-registry
        ecosystemUrl:
          type: string
          description: Trust registry ecosystem URL
          format: uri
          minimum: 8
          example: https://ecosystem.dock.io
        governanceFramework:
          type: string
          description: Trust registry governance framework
          example: 'Lorem ea ea reprehenderit cupidatat minim incididunt occaecat est sit.'
        governanceFrameworkVersion:
          type: string
          description: Trust registry governance framework version
          example: '1.0.0'
        issuerCount:
          type: integer
          description: Trust registry issuer count
          example: 10
        verifierCount:
          type: integer
          description: Trust registry verifier count
          example: 5
    TrustRegistries:
      type: array
      items:
        $ref: '#/components/schemas/TrustRegistry'
    TrustRegistryInviteAcceptRequest:
      type: object
      required:
        - token
        - did
        - infoUrl
      properties:
        token:
          type: string
          description: The invite token
          example: 'eyJhbGc...2VVqUw'
        did:
          $ref: '#/components/schemas/DID'
        infoUrl:
          anyOf:
            - type: string
              description: Trust registry participant info URL
              format: uri
              minimum: 8
            - type: string
              description: Trust registry participant info URL
              enum: [""]
          example: https://info.dock.io/trust-registry/participant/1234
    TrustRegistryInviteRequest:
      type: object
      properties:
        maxAge:
          type: integer
          description: Max age of the invite in seconds
        issuerSchemas:
          type: array
          items:
            type: string
            description: Trust registry issuer schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
        verifierSchemas:
          type: array
          items:
            type: string
            description: Trust registry verifier schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
    TrustRegistryInviteResponse:
      type: object
      required:
        - link
      properties:
        link:
          type: string
          description: The trust registry invite link
          example: 'https://trust-registry.dock.io/ecosystems?token=eyJhbGc...2VVqUw'
    TrustRegistryParticipant:
      type: object
      required:
        - id
        - name
        - did
        - logoUrl
      properties:
        id:
          type: string
          description: Trust registry participant ID
          example: '23314808-eec6-4492-9a8a-8f32e34b8155'
        name:
          type: string
          description: Trust registry participant name
          example: 'Dock Issuer'
        did:
          $ref: '#/components/schemas/DID'
        description:
          type: string
          description: Trust registry participant description
          example: 'Labore voluptate adipisicing magna duis eu fugiat pariatur excepteur irure.'
        logoUrl:
          type: string
          description: Trust registry participant logo URL
          format: uri
          minimum: 8
          example: 'https://logo.dock.io/participant'
        infoUrl:
          anyOf:
            - type: string
              description: Trust registry participant info URL
              format: uri
              minimum: 8
            - type: string
              description: Trust registry participant info URL
              enum: [""]
          example: https://info.dock.io/trust-registry/participant/1234
        status:
          type: string
          description: Trust registry participant status
          example: 'active'
          enum: [active, suspended]
        role:
          type: string
          description: Trust registry participant role
          example: 'issuer'
          enum: [verifier+issuer, issuer, verifier]
        created:
          type: string
          format: date-time
        suspendedAt:
          type: string
        issuerSchemas:
          type: array
          items:
            type: string
            description: Trust registry participant issuer schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
        verifierSchemas:
          type: array
          items:
            type: string
            description: Trust registry participant verifier schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
    TrustRegistryParticipantPatch:
      type: object
      properties:
        name:
          type: string
          description: Trust registry participant name
          example: 'Dock Issuer'
        logoUrl:
          type: string
          description: Trust registry participant logo URL
          format: uri
          minimum: 8
          example: https://logo.dock.io/trust-registry-participant/1234
        infoUrl:
          anyOf:
            - type: string
              description: Trust registry participant info URL
              format: uri
              minimum: 8
            - type: string
              description: Trust registry participant info URL
              enum: [""]
          example: https://info.dock.io/trust-registry/participant/1234
        status:
          type: string
          description: Trust registry participant status
          example: 'active'
          enum: [active, suspended]
        suspendedAt:
          type: string
        issuerSchemas:
          type: array
          items:
            type: string
            description: Trust registry participant issuer schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
        verifierSchemas:
          type: array
          items:
            type: string
            description: Trust registry participant verifier schema
            example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
    TrustRegistryParticipantInfoPatch:
      type: object
      properties:
        infoUrl:
          anyOf:
            - type: string
              description: Trust registry participant info URL
              format: uri
              minimum: 8
            - type: string
              description: Trust registry participant info URL
              enum: [""]
          example: https://info.dock.io/trust-registry/participant/1234
    TrustRegistryParticipants:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
          description: Total number of participants
          example: 42
        list:
          type: array
          items:
            $ref: '#/components/schemas/TrustRegistryParticipant'
    TrustRegistrySchema:
      type: object
      required:
        - id
        - name
        - participantCount
        - topParticipants
        - public
      properties:
        id:
          type: string
          description: Trust registry schema ID
          example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
        name:
          type: string
          description: Trust registry schema name
          example: 'Example Schema'
        public:
          type: boolean
          description: Whether the schema is currently public (i.e. can be verified by anyone).
        participantCount:
          type: integer
          description: How many participants have this schema assigned
          example: 10
        prices:
          type: array
          description: Prices assigned to this schema
          items:
            $ref: '#/components/schemas/TrustRegistrySchemaPrice'
        topParticipants:
          type: array
          description: Top participants that have this schema assigned
          items:
            $ref: '#/components/schemas/TrustRegistryParticipant'
    TrustRegistrySchemaPrice:
      type: object
      required:
        - currency
        - digits
      properties:
        currency:
          type: string
          description: Currency code
          example: USD
        digits:
          description: Bigint representation of the price. Multiply by 1,000,000 to support fractional cents.
          oneOf:
            - type: integer
            - type: string
          example: 100000000
        verifier:
          $ref: '#/components/schemas/DID'
    TrustRegistryReport:
      type: object
      required:
        - verifierDID
        - issuerDID
        - schemaId
        - currency
        - verifierFee
        - vendorFee
        - created
      properties:
        trustRegistryId:
          description: Trust registry ID
          type: string
          example: '0x601d148fb8895aca83eafb264293069911f76805b748b014ae64fcf0fd2d765d'
        verificationId:
          description: Verification ID
          type: string
          example: 798e9e9f-9a73-4bd3-881f-367e1d1c70ee
        verificationTemplateId:
          description: Verification Template ID
          type: string
          example: d0194072-b706-485d-bc5a-02a433641f63
        isValid:
          description: Was the verification successful with valid credentials
          type: boolean
          example: true
        verifierDID:
          $ref: '#/components/schemas/DID'
        issuerDID:
          $ref: '#/components/schemas/DID'
        schemaId:
          description: Schema ID
          type: string
          example: https://schema.dock.io/ExampleSchema-V5-1722512884923.json
        currency:
          description: Currency code
          type: string
          example: USD
        verifierFee:
          description: Verifier fee
          type: string
          example: 123456
        vendorFee:
          description: Vendor fee
          type: string
          example: 6172
        created:
          type: string
          format: date-time
    TrustRegistryReports:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
        list:
          type: array
          items:
            $ref: '#/components/schemas/TrustRegistryReport'
    TrustRegistrySchemas:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
          description: Total number of schemas
          example: 200
        list:
          type: array
          items:
            $ref: '#/components/schemas/TrustRegistrySchema'
    TrustRegistryProofTemplateAssignRequest:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: The proof template ID
          example: a6cd414a-6eba-4241-9a9c-6f75864edbd5
    TrustRegistryProofTemplates:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
          description: Total number of proof templates
          example: 200
        list:
          type: array
          items:
            $ref: '#/components/schemas/ProofRequest'
    TrustRegistryPublic:
      type: object
      required:
        - id
        - name
        - logoUrl
        - ecosystemUrl
      properties:
        id:
          type: string
          description: The unique identifier for the ecosystem, usually a hash value.
          example: '0xe7e0f253c5f05059904109e33fb63b104edddd7e114a8746a5faf07a944d58aa'
        slug:
          type: string
          description: A human-readable identifier for the ecosystem, used as a URL path or reference name.
          example: 'dock-ecosystem-419'
        convener:
          type: string
          description: The DID of the convener or owner of the ecosystem, responsible for its management.
          example: 'did:dock:5DTD...FKc43'
        created:
          type: string
          format: date-time
          description: The date and time when the ecosystem was created.
          example: '2024-09-26T13:18:51.534Z'
        name:
          type: string
          description: The name of the ecosystem.
          example: 'Dock Ecosystem'
        description:
          type: string
          description: A brief description of the ecosystem.
          example: 'This is my new awesome ecosystem!'
        logoUrl:
          type: string
          format: uri
          minimum: 8
          description: A URL pointing to the logo image of the ecosystem.
          example: https://logo.dock.io/trust-registry
        ecosystemUrl:
          type: string
          format: uri
          minimum: 8
          description: The main website URL of the ecosystem.
          example: https://ecosystem.dock.io
        governanceFramework:
          type: string
          description: A markdown document describing the governance framework of the ecosystem.
          example: 'This is a markdown document describing my framework'
        governanceFrameworkVersion:
          type: string
          description: The version of the governance framework.
          example: '1.0.0'
        participantRole:
          type: string
          description: The role of the participant within the ecosystem, such as 'verifier' or 'issuer'.
          example: 'verifier'
        participantStatus:
          type: string
          description: The current status of the participant in the ecosystem.
          example: 'active'
        participantName:
          type: string
          description: The name of the participant in the ecosystem.
          example: 'My Convener'
        participantLogoUrl:
          type: string
          format: uri
          minimum: 8
          description: A URL pointing to the logo image of the participant.
          example: https://logo.com/participant
        participantInfoUrl:
          type: string
          format: uri
          minimum: 8
          description: A URL providing additional information about the participant.
          example: https://participant.dock.io
    TrustRegistryPublicList:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
        list:
          type: array
          items:
            $ref: '#/components/schemas/TrustRegistryPublic'
    TrustRegistryGenericSchemaPrice:
      type: object
      required:
        - currency
        - digits
        - trustRegistryId
        - trustRegistryMetadata
      properties:
        currency:
          type: string
          description: Currency code
          example: USD
        digits:
          description: Bigint representation of the price. Multiply by 1,000,000 to support fractional cents.
          oneOf:
            - type: integer
            - type: string
          example: 100000000
        trustRegistryId:
          description: Trust registry ID
          type: string
          example: '0x601d148fb8895aca83eafb264293069911f76805b748b014ae64fcf0fd2d765d'
        trustRegistryMetadata:
          type: object
          description: Trust registry metadata
          properties:
            name:
              type: string
              description: Trust registry name
              example: Example Trust Registry
            logoUrl:
              type: string
              description: Trust registry logo URL
              format: uri
              minimum: 8
              example: https://logo.dock.io/trust-registry
            description:
              type: string
              description: Trust registry description
              example: Example Trust Registry Description
            ecosystemUrl:
              type: string
              description: Trust registry ecosystem URL
              format: uri
              minimum: 8
              example: https://ecosystem.dock.io
            governanceFramework:
              type: string
              description: Trust registry governance framework
              example: Example Governance Framework
            governanceFrameworkVersion:
              type: string
              description: Trust registry governance framework version
              example: 1.0
    ListOfDIDs:
      description: List of DID strings
      type: array
      items:
        type: string
    TrustRegistryGenericSchemaPrices:
      description: Trust registry schema prices
      type: array
      items:
        type: object
        properties:
          schema:
            type: string
            description: The schema ID
            example: https://schema.dock.io/ExampleSchema-V5-1722512884923.json
          prices:
            type: array
            items:
              $ref: '#/components/schemas/TrustRegistryGenericSchemaPrice'
    TrustRegistryGenericSchemaDids:
      description: Trust registry schema dids
      type: array
      items:
        type: object
        properties:
          schema:
            type: string
            description: The schema ID
            example: https://schema.dock.io/ExampleSchema-V5-1722512884923.json
          dids:
            type: array
            items:
              $ref: '#/components/schemas/DID'
    CredentialIssueRequest:
      type: object
      required:
        - credential
      properties:
        persist:
          type: boolean
          default: false
          description: Whether to persist this credential in our systems, giving it its own web page and import options
          example: true
        password:
          type: string
          maxLength: 32
          minLength: 4
          description: Password to encrypt this credential with, required if persist is set to true
          example: "securepass"
        anchor:
          type: boolean
          default: false
          description: Anchor the credential on the blockchain or not
          example: false
        template:
          type: string
          format: uuid
          description: The credential template UUID, only required for PDF and web rendering customization
          example: ""
        recipientEmail:
          type: string
          description: The holder's email for email distribution, optional. Not required for OpenID flows.
          example: ""
        algorithm:
          type: string
          default: ed25519
          maxLength: 32
          minLength: 4
          description: Optional credential signing algorithm parameter, such as dockbbs. Will create valid DID key if doesn't exist already.
          example: "dockbbs"
        distribute:
          type: boolean
          default: false
          description: Whether to distribute the credential or not based on subject DID or email address. Not required for OpenID flows.
          example: false
        format:
          type: string
          enum: [jsonld, jwt]
          description: Optional credential format parameter, options are jsonld and jwt
          example: "jsonld"
        credential:
          $ref: '#/components/schemas/Credential'
    Error:
      description: An API Error
      type: object
      properties:
        status:
          type: integer
        type:
          type: string
        message:
          type: string
    Hex32:
      description: 32 byte hex string. Ignoring higher base (base64) for simplicity.
      type: string
      minimum: 64
      maximum: 64
    JobStartedResult:
      description: Object containing unique id of the background task and associated data. This id can be used to query the job status
      properties:
        id:
          type: string
        data:
          type: object
    JobId:
      description: Unique id of the background task. This id can be used to query the job status
      type: string
      example: '900'
    JobStatus:
      description: Status of the job.
      type: string
      enum: [todo, finalized, in_progress, error]
    JobDesc:
      description: Description of the job including result if available
      properties:
        id:
          $ref: '#/components/schemas/JobId'
        status:
          $ref: '#/components/schemas/JobStatus'
        result:
          type: object
    DID:
      description: DID as fully qualified, typically. `did:dock:`
      type: string
      minimum: 32
      example: did:dock:xyz
    NumericID:
      description: A unique numeric ID
      type: string
    URI:
      description: Valid URI
      type: string
      format: uri
      minimum: 8
      example: https://credentials.dock.io/1234
    KeyType:
      description: Type of public key for DID
      type: string
      enum:
        - sr25519
        - ed25519
        - secp256k1
        - bjj
    SigType:
      description: Type of signature
      type: string
      enum:
        - Sr25519Signature2020
        - Ed25519Signature2018
        - EcdsaSecp256k1Signature2019
        - Bls12381BBS+SignatureDock2022
        - Bls12381BBS+SignatureProofDock2022
        - Bls12381BBDT16MACDock2024
        - Bls12381BBSSignatureDock2023
        - Bls12381BBSVerificationKeyDock2023
        - BJJSignature2021
    ProofPurpose:
      description: Purpose of credential
      type: string
      enum:
        - assertionMethod
        - authentication
    Context:
      description: JSON-LD context array of strings or single string
      example: "https://docknetwork.github.io/vc-schemas/basic-credential.json-ld"
      oneOf:
        - type: array
          items:
            oneOf:
              - type: string
              - type: object
        - type: string
    DIDDoc:
      description: A DID Document containing information about a decentralized identifier (DID) and its associated entities.
      type: object
      properties:
        "@context":
          $ref: '#/components/schemas/Context'
        id:
          $ref: '#/components/schemas/DID'
        authentication:
          type: array
          description: Array of verification methods used for authentication.
          items:
            oneOf:
              - type: object
              - type: string
          example:
            - 'did:dock:5DEH...9Luk#keys-1'
        assertionMethod:
          type: array
          description: Array of verification methods used for assertion.
          items:
            oneOf:
              - type: object
              - type: string
          example:
            - 'did:dock:5DEH...9Luk#keys-1'
        capabilityInvocation:
          type: array
          description: Array of verification methods used for capability invocation.
          items:
            oneOf:
              - type: object
              - type: string
          example:
            - 'did:dock:5DEH...9Luk#keys-1'
        publicKey:
          type: array
          description: Array of public keys associated with the DID document.
          items:
            type: object
            properties:
              id:
                type: string
                description: The unique identifier for the public key.
                example: 'did:dock:5DEH...9Luk#keys-1'
              type:
                type: string
                description: The type of the public key.
                example: 'Sr25519VerificationKey2020'
              controller:
                type: string
                description: The DID that controls the key.
                example: 'did:dock:5DEH...9Luk'
              publicKeyBase58:
                type: string
                description: The public key encoded in base58 format.
                example: 'Cs8XUWkpkscPhEVCsUAicLqd8pL2MoGqahywfRhbtVEi'
    DIDsResponse:
      description: Response containing a list of DIDs
      type: array
      items:
        type: object
        properties:
          id:
            $ref: '#/components/schemas/DID'
          did:
            $ref: '#/components/schemas/DID'
          type:
            type: string
            description: The type of DID, indicating the network or method used.
            enum:
              - dock
              - key
              - polygonid
            example: 'dock'
          controller:
            description: The controller of the DID, who has authority over it.
            $ref: '#/components/schemas/DID'
          credentialCount:
            type: string
            description: The number of credentials issued by this DID.
            example: '0'
          updatedLast:
            type: string
            format: date-time
            description: The timestamp of the last update to the DID metadata.
            example: '2024-09-26T12:38:10.871Z'
          profile:
            description: Additional profile information associated with the DID, such as a public profile or other descriptive metadata.
            type: object
            nullable: true
            properties:
              name:
                type: string
                description: The name associated with the profile.
                example: 'My Convener'
              logo:
                anyOf:
                  - type: string
                    maxLength: 0
                  - type: string
                    format: uri
                    description: A URL pointing to the logo image associated with the profile.
                    example: 'https://dock.io/convener.png'
              description:
                type: string
                description: A brief description of the profile.
                example: 'An ecosystem convener'
          keyId:
            type: string
            description: The identifier of the key associated with the DID.
            example: 'did:dock:5DSMVEPXQ6iQb7msrydkGbd2GSRkWUsLHqwXbertvBaVrabU#keys-1'
          jobId:
            anyOf:
              - $ref: "#/components/schemas/null_type"
              - $ref: '#/components/schemas/JobId'
          trustRegistries:
            type: array
            description: A list of trust registries associated with this DID.
            items:
              type: object
              properties:
                id:
                  type: string
                  description: The unique identifier of the trust registry.
                  example: '0x592a...c99b'
                name:
                  type: string
                  description: The name of the trust registry.
                  example: 'Updated Name'
                logoUrl:
                  type: string
                  format: uri
                  description: A URL pointing to the logo image of the trust registry.
                  example: 'https://logo.com/ecosystemnew'
    Credential:
      description: Format to create credentials with the API
      type: object
      properties:
        id:
          type: string
          description: Optional credential ID, ideally as a URI or UUID. Leave blank to auto generate
          example: ""
        name:
          type: string
          example: "Basic Credential"
          description: Optional name to be inserted in the credential
        description:
          type: string
          example: "My first credential"
          description: Optional description to be inserted in the credential
        schema:
          example: "https://docknetwork.github.io/vc-schemas/basic-credential.json"
          oneOf:
            - type: object
            - type: string
              format: uri
        context:
          $ref: '#/components/schemas/Context'
        type:
          example: [BasicCredential]
          description: Custom type, leave empty to auto generate where possible
          type: array
          items:
            type: string
        subject:
          example:
            id: did:key:123
            name: A. Holder
          oneOf:
            - type: object
            - type: array
        issuer:
          oneOf:
            - type: string
              $ref: '#/components/schemas/DID'
            - type: object
        issuanceDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time
          example: "2030-09-20T00:13:59.270Z"
        status:
          description: Revocation registry id or user supplied status object
          example: null
          oneOf:
            - type: object
            - type: string
    Team:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          description: The team ID
        team_owner_id:
          type: integer
          description: The team owner ID
        name:
          type: string
          description: The team name
          nullable: true
    TeamMember:
      type: object
      required:
        - id
        - name
      properties:
        id:
          description: The team member ID
          type: integer
        name:
          description: The team member name
          type: string
        email:
          description: The team member email
          type: string
        image:
          description: The team member image
          type: string
        role:
          description: The team member role
          type: string
          enum: ['member', 'administrator', 'owner']
    Notification:
      type: object
      required:
        - type
        - data
        - created
      properties:
        type:
          description: The type of the notification
          type: string
        data:
          description: The data of the notification, varies depending on type
          type: object
        created:
          description: The datetime of the notification 
          type: string
          format: date-time
    Notifications:
      type: object
      required:
        - total
        - list
      properties:
        total:
          description: The total number of records
          type: integer
        list:
          description: The current paged records
          type: array
          items:
            $ref: '#/components/schemas/Notification'
    TeamMembers:
      type: array
      items:
        $ref: '#/components/schemas/TeamMember'
    TeamMemberInvitation:
      type: object
      required:
        - id
        - email
      properties:
        id:
          description: The team member invitation ID
          type: integer
        email:
          description: The team member invitation email
          type: string
        status:
          description: The team member invitation status
          type: string
          enum: ['pending', 'accepted', 'canceled']
    TeamMemberInvitations:
      type: array
      items:
        $ref: '#/components/schemas/TeamMemberInvitation'
    EncryptedWallet:
      description: An encrypted Universal Wallet JSON-LD document
      type: object
      properties:
        '@context':
          type: array
          items:
            type: string
          description: The context defining the terms used in the credential
          example:
            - 'https://www.w3.org/2018/credentials/v1'
            - 'https://w3id.org/wallet/v1'
        id:
          type: string
          description: The ID of the credential, typically a DID with a fragment identifier
          example: 'did:key:z6LS...Wa19#encrypted-wallet'
        type:
          type: array
          items:
            type: string
          description: The type of the credential, includes VerifiableCredential and other specific types
          example:
            - 'VerifiableCredential'
            - 'EncryptedWallet'
        issuer:
          type: string
          description: The issuer of the credential, typically a DID
          example: 'did:key:z6LS...Wa19'
        issuanceDate:
          type: string
          format: date-time
          description: The date and time the credential was issued
          example: '2024-09-26T12:08:18.803Z'
        credentialSubject:
          type: object
          description: The subject of the credential, containing encrypted wallet contents
          properties:
            id:
              type: string
              description: The ID of the credential subject, typically a DID
              example: 'did:key:z6LS...Wa19'
            encryptedWalletContents:
              type: object
              description: The encrypted contents of the wallet
              properties:
                protected:
                  type: string
                  description: The protected header of the encrypted wallet
                  example: 'eyJlbmMiOiJYQzIwUCJ9'
                recipients:
                  type: array
                  items:
                    type: object
                    description: List of recipients who can decrypt the wallet
                    properties:
                      encrypted_key:
                        type: string
                        description: The encrypted key for the recipient
                        example: 'OHwaAnWZThM_lGP-9g_zBSBhbRjOeFEG4LsvTEA5V-5WW63J--Xw4w'
                      header:
                        type: object
                        description: The header information for the recipient
                        properties:
                          kid:
                            type: string
                            description: Key ID of the recipient
                            example: 'did:key:z6LS...Wa19#z6LS...Wa19'
                          alg:
                            type: string
                            description: Algorithm used for encryption
                            example: 'ECDH-ES+A256KW'
                          epk:
                            type: object
                            description: Ephemeral public key used for encryption
                            properties:
                              kty:
                                type: string
                                description: Key type
                                example: 'OKP'
                              crv:
                                type: string
                                description: Curve type
                                example: 'X25519'
                              x:
                                type: string
                                description: Public key value
                                example: '4xA5LWWdfhLed5AUvHPsDAYaxhsMdV4UBw1kN0As1Hs'
                          apu:
                            type: string
                            description: Agreement PartyU Info
                            example: '4xA5LWWdfhLed5AUvHPsDAYaxhsMdV4UBw1kN0As1Hs'
                          apv:
                            type: string
                            description: Agreement PartyV Info
                            example: 'ZGlkOmtleTp6NkxTaFZ0VlJiUlA4REFoZm05ODFyQ244WWhNVFBhZzlWNFNNakN...'
                iv:
                  type: string
                  description: The initialization vector for the encryption
                  example: 'NyMwyU-0QGnaqRVy0u0_Ilae3ETvcZq_'
                ciphertext:
                  type: string
                  description: The encrypted data
                  example: 8MJvLT..._wYO54
                tag:
                  type: string
                  description: Authentication tag for the encrypted wallet
                  example: 'b-fL728NLEZkqz5SEIMI8Q'
    UnsignedVerifiablePresentation:
      description: Verifiable Presentation that is unsigned
      type: object
      properties:
        "@context":
          $ref: '#/components/schemas/Context'
        id:
          type: string
          format: uri
        type:
          type: array
          items:
            type: string
        verifiableCredential:
          oneOf:
            - type: object
              $ref: '#/components/schemas/VerifiableCredential'
            - type: array
              items:
                type: object
                $ref: '#/components/schemas/VerifiableCredential'
    VerifiablePresentation:
      description: Verifiable Presentation that has been signed
      type: object
      properties:
        "@context":
          $ref: '#/components/schemas/Context'
        id:
          type: string
          format: uri
        type:
          type: array
          items:
            type: string
        verifiableCredential:
          oneOf:
            - type: object
              $ref: '#/components/schemas/VerifiableCredential'
            - type: array
              items:
                type: object
                $ref: '#/components/schemas/VerifiableCredential'
        proof:
          oneOf:
            - type: object
              $ref: '#/components/schemas/VerifiableProof'
            - type: array
              items:
                type: object
                $ref: '#/components/schemas/VerifiableProof'
    VerifiableProof:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/SigType'
        proofPurpose:
          $ref: '#/components/schemas/ProofPurpose'
        verificationMethod:
          type: string
        created:
          type: string
          format: date-time
        proofValue:
          type: string
    CredentialMetadata:
      type: object
      description: Represents metadata related to a verifiable credential. This includes information about the credential's issuer, issuance and expiration dates, revocation status, and additional properties such as size and subject reference.
      properties:
        id:
          type: string
          format: uri
          description: The unique identifier for the credential, typically a URL pointing to its location or a hash value.
          example: 'https://creds.dock.io/521bb7...'
        issuerKey:
          type: string
          nullable: true
          description: The DID and key identifier of the issuer that signed the credential. This key is used to verify the authenticity of the credential.
          example: 'did:key:z6Mk...dsmK'
        type:
          type: string
          description: The type of credential.
          example: 'VerifiableCredential'
        revocationRegistry:
          type: string
          description: The registry identifier for revocation information associated with the credential.
          example: 'e6d3...59d1'
        revoked:
          type: boolean
          description: Indicates whether the credential has been revoked. If true, the credential is no longer valid
          example: false
        createdAt:
          type: string
          format: date-time
          description: The date and time when the credential metadata was created.
          example: '2024-09-20T11:13:03.445Z'
        expiryDate:
          type: string
          format: date-time
          nullable: true
          description: The expiration date of the credential.
          example: '2024-09-20T11:13:03.445Z'
        expirationDate:
          type: string
          format: date-time
          nullable: true
          description: Alternative field for the expiration date of the credential.
          example: '2024-09-20T11:13:03.445Z'
        issuanceDate:
          type: string
          format: date-time
          description: The date and time when the credential was issued.
          example: '2024-09-20T11:13:02.648Z'
        byteSize:
          type: integer
          description: The size of the credential in bytes.
          example: 1003
        persist:
          type: boolean
          description: Indicates whether the credential is persisted in storage.
          example: false
        index:
          type: string
          description: A unique index or identifier within a collection of credentials.
          example: '1004'
        subjectRef:
          type: string
          description: A reference to the subject of the credential, typically used to identify the entity to which the credential pertains.
          example: 'Dock Ref'
        whitelabel:
          type: number
          nullable: true
          description: Indicates if the credential is associated with a specific whitelabel or brand.
          example: null
        algorithm:
          type: string
          description: The algorithm used for creating or signing the credential.
          maxLength: 32
          minLength: 4
          example: "dockbbs"
        credential:
          $ref: '#/components/schemas/VerifiableCredential'
    VerifiableCredential:
      description: Verifiable (signed) Credential returned by API. The current set of properties is almost complete
      type: object
      properties:
        "@context":
          $ref: '#/components/schemas/Context'
        id:
          type: string
        type:
          type: array
          items:
            type: string
        credentialSubject:
          oneOf:
            - type: object
            - type: array
              items:
                type: object
        issuer:
          oneOf:
            - type: string
              $ref: '#/components/schemas/DID'
            - type: object
        issuanceDate:
          type: string
          format: date-time
        expirationDate:
          type: string
          format: date-time
        credentialStatus:
          description: Revocation registry id or user supplied status object
          oneOf:
            - type: object
            - type: string
        proof:
          oneOf:
            - type: object
              $ref: '#/components/schemas/VerifiableProof'
            - type: array
              items:
                type: object
                $ref: '#/components/schemas/VerifiableProof'
    VerifiableCredentialSchema:
      description: Verifiable Credential Schema
      type: object
      properties:
        '$schema':
          type: string
          description: The schema version, generally following the JSON-schema specification.
          example: 'http://json-schema.org/draft-07/schema#'
        name:
          type: string
          description: Name of the schema.
          example: 'My Schema'
        description:
          type: string
          description: A brief description of the schema.
          example: 'Dock Schema Example'
        type:
          type: string
          description: Defines the type of schema. Usually 'object'.
          example: 'object'
        properties:
          type: object
          description: The properties that define the schema.
          example:
            id:
              type: 'string'
            emailAddress:
              type: 'string'
              format: 'email'
            alumniOf:
              type: 'string'
        required:
          type: array
          items:
            type: string
          description: Required fields within the schema.
          example:
            - emailAddress
            - alumniOf
        additionalProperties:
          type: boolean
          description: Specifies whether additional properties outside the defined schema are allowed.
          example: true
    VerifiableCredentialSchemaResponse:
      type: object
      properties:
        id:
          type: string
          description: The schema ID
          example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
        schema:
          anyOf:
            - $ref: "#/components/schemas/null_type"
            - $ref: '#/components/schemas/VerifiableCredentialSchema'
        uri:
          type: string
          description: The schema URI
          example: 'https://schema.dock.io/ExampleSchema-V5-1722512884923.json'
        created:
          type: string
          format: date-time
        isOwner:
          type: boolean
          description: Whether the current user is the owner of the schema
          example: true
        ownerName:
          type: string
          description: The owner name
          example: 'Dock'
        ownerLogo:
          type: string
          description: The owner logo
          example: 'https://logo.dock.io/owner'
    VerifiableCredentialSchemasResponse:
      type: array
      items:
        $ref: '#/components/schemas/VerifiableCredentialSchemaResponse'
    Anchor:
      description: An anchor. Either a batched or single. Data includes anchor, type (single, batch), block hash, block no and accompanying data (root, proofs) if any. The data depends if the anchor was created using API or not.
      type: object
      properties:
        anchor:
          $ref: '#/components/schemas/Hex32'
        blockHash:
          $ref: '#/components/schemas/Hex32'
        root:
          $ref: '#/components/schemas/Hex32'
    Registry:
      description: Revocation registry
      type: object
      properties:
        addOnly:
          type: boolean
        policy:
          description: Only one policy supported as of now called `OneOf`
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: '#/components/schemas/DID'
        type:
          type: string
          enum:
            - CredentialStatusList2017 # Deprecated, remove eventually
            - StatusList2021Entry
            - DockVBAccumulator2022
          default: "StatusList2021Entry"
    VerificationResponse:
      description: Whether a credential/presentation/anchor is verified or not
      type: object
      properties:
        verified:
          type: boolean
        results:
          type: array
          items:
            type: object
    Response:
      description: Default response
      type: object
      properties:
        code:
          type: integer
    PaginatedListResponse:
      type: object
      required:
        - total
        - list
      properties:
        total:
          type: integer
        list:
          type: array
          items:
            type: object
    ArrayResponse:
      description: Default response
      type: array
      items:
        type: object
    Template:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
        html:
          type: string
        css:
          type: string
        name:
          type: string
        metadata:
          type: object
    Templates:
      type: array
      items:
        $ref: '#/components/schemas/Template'
    Subaccount:
      type: object
      required:
        - id
        - name
      properties:
        id:
          description: The sub account ID
          type: integer
        name:
          description: The sub account name
          type: string
        email:
          description: The sub account email
          type: string
        image:
          description: The sub account image
          type: string
    Subaccounts:
      type: array
      items:
        $ref: '#/components/schemas/Subaccount'
    Profile:
      type: object
      required:
        - did
        - name
      properties:
        did:
          type: string
        name:
          type: string
        logo:
          type: string
    Profiles:
      type: array
      items:
        $ref: '#/components/schemas/Profile'
    ApiKey:
      type: object
      required:
        - key
        - created
        - expires
      properties:
        ips:
          type: array
          items:
            type: string
        key:
          type: string
        created:
          type: string
        expires:
          type: string
    ApiKeys:
      type: array
      items:
        $ref: '#/components/schemas/ApiKey'
    TemporaryKey:
      type: object
      properties:
        key:
          type: string
        selectedTeamId:
          type: integer
    WebhookCreate:
      type: object
      required:
        - url
        - events
      properties:
        url:
          type: string
        description:
          type: string
        status:
          type: integer
        events:
          type: array
          items:
            type: string
    ApiWebhook:
      type: object
      required:
        - id
        - url
        - events
        - created
        - status
        - description
        - secret
      properties:
        events:
          type: array
          items:
            type: string
        url:
          type: string
        id:
          $ref: '#/components/schemas/NumericID'
        created:
          type: string
        secret:
          type: string
        description:
          type: string
    ApiWebhooks:
      type: array
      items:
        $ref: '#/components/schemas/ApiWebhook'
    IndyProofReqAttrSpec:
      type: object
      properties:
        name:
          type: string
          example: favouriteDrink
          description: Attribute name
        names:
          type: array
          description: Attribute name group
          items:
            type: string
            example: age

    ProofRequest:
      type: object
      properties:
        attributes:
          type: object
          description: Requested attribute specifications of proof request
          additionalProperties:
            $ref: '#/components/schemas/IndyProofReqAttrSpec'
        name:
          type: string
          description: Proof request name
          example: Proof request
        nonce:
          type: string
          description: Nonce or challenge for the presentation to match
          example: '1234567890'
        qr:
          type: string
          description: QR code deep link for mobile wallet scanning
        did:
          description: A DID
          $ref: '#/components/schemas/DID'
      required:
        - name
    ProofRequests:
      type: array
      items:
        $ref: '#/components/schemas/ProofRequest'
    ProofRequestsHistory:
      type: array
      items:
        allOf:
          - $ref: '#/components/schemas/ProofRequest'
          - type: object
            properties:
              credentialsIssuers:
                type: array
                items:
                  type: object
                  properties:
                    issuerDid:
                      type: string
                    issuerName:
                      type: string
                    issuerLogo:
                      type: string
                    issuerTrustRegistries:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          logoUrl:
                            type: string
    ProofTemplateObject:
      allOf:
        - $ref: '#/components/schemas/ProofRequest'
        - type: object
          required:
            - id
            - created
            - updated
          properties:
            id:
              type: string
              format: uuid
            error:
              type: string
            created:
              type: string
              format: date-time
            updated:
              type: string
              format: date-time
            did:
              description: A DID
              $ref: '#/components/schemas/DID'
            types:
              type: array
              items:
                type: string
    ProofRequestObject:
      allOf:
        - $ref: '#/components/schemas/ProofRequest'
        - type: object
          required:
            - id
            - created
            - response_url
          properties:
            id:
              type: string
              format: uuid
            error:
              type: string
            response_url:
              type: string
            verified:
              type: boolean
            presentation:
              type: object
            created:
              type: string
              format: date-time
            updated:
              type: string
              format: date-time
            did:
              description: A DID
              $ref: '#/components/schemas/DID'
            verifierName:
              type: string
            verifierLogo:
              type: string
            types:
              type: array
              items:
                type: string
    OpenIDAuthProviderOptions:
      type: object
      description: OpenID provider configuration
      properties:
        url:
          type: string
          example: "https://creds.dock.io/claims"
        scope:
          type: array
          items:
            type: string
          example:
            - "openid"
        clientId:
          type: string
          example: "eyAic2NoZW1hIjogImh0dHBzOi8vZG9ja25ldHdvcmsuZ2l0aHViLmlvL3ZjLXNjaGVtYXMvYmFzaWMtY3JlZGVudGlhbC5qc29uIiwgImNsYWltcyI6IFsibmFtZSJdIH0="
        clientSecret:
          type: string
          example: "gpO2IVK+OALL8W+DcFlIfFhJtNA="
        claimsSource:
          type: string
          enum:
            - idToken
            - userInfo
          default: "idToken"
          example: "idToken"
        requestParameters:
          type: object
          description: Optional extra request parameters passed to the federated OpenID provider, such as login hint
          example:
            login_hint: "user@example.com"
            prompt: "login"
    OpenIDIssuerCreateRequest:
      type: object
      description: Represents the configuration and options to create an OpenID issuer, including credential options, authentication provider details, and claim mappings.
      properties:
        credentialOptions:
          $ref: '#/components/schemas/CredentialIssueRequest'
        authProvider:
          $ref: '#/components/schemas/OpenIDAuthProviderOptions'
        claimMap:
          type: object
          description: Key/value pair mapping for OpenID claims to JSON-LD terms. Can be null/undefined if no 3rd party claims to pull.
          example:
            name: "name"
        singleUse:
          type: boolean
          default: false
          description: Whether or not to expire this issuer (and all URLs related to it) after one credential is issued
          example: false
      required:
        - credentialOptions
    OpenIDIssuer:
      type: object
      description: Represents the configuration and options for an OpenID issuer, including credential options, authentication provider details, and claim mappings.
      properties:
        credentialOptions:
          $ref: '#/components/schemas/CredentialIssueRequest'
        authProvider:
          $ref: '#/components/schemas/OpenIDAuthProviderOptions'
        claimMap:
          type: object
          description: Key/value pair mapping for OpenID claims to JSON-LD terms
          example:
            name: "name"
        singleUse:
          type: boolean
          default: false
        issuer:
          type: string
        protocol:
          type: string
          default: "default"
      required:
        - credentialOptions
    OpenIDIssuers:
      type: array
      items:
        $ref: '#/components/schemas/OpenIDIssuer'
    OpenIDCredentialIssuerConfig:
      type: object
      description: Defines the configuration details for an OpenID credential issuer, including endpoints for authorization, token exchange, and key sets.
      properties:
        authorization_endpoint:
          type: string
          format: uri
          description: The endpoint used by the client to obtain authorization from the resource owner.
          example: 'https://example.com/openid/issuers/b582...173c/authorize'
        token_endpoint:
          type: string
          format: uri
          description: The endpoint used by the client to exchange an authorization grant for an access token.
          example: 'https://example.com/openid/issuers/b582...173c/token'
        jwks_uri:
          type: string
          format: uri
          description: The URI for the JSON Web Key Set, which contains the public keys used to verify tokens.
          example: 'https://example.com/openid/issuers/b582...173c/jwks'
        issuer:
          type: string
          format: uri
          description: The issuer identifier for the authorization server.
          example: 'https://example.com/openid/issuers/b582...173c'
        code_challenge_methods_supported:
          type: array
          description: List of supported code challenge methods for PKCE.
          items:
            type: string
          example:
            - 'S256'
        token_endpoint_auth_signing_alg:
          type: string
          description: The algorithm used for signing at the token endpoint.
          example: 'HS256'
        token_endpoint_auth_signing_alg_values_supported:
          type: array
          description: The list of signing algorithms supported by the token endpoint.
          items:
            type: string
          example:
            - 'HS256'
        request_object_signing_alg_values_supported:
          type: array
          description: Supported signing algorithms for request objects.
          items:
            type: string
          example:
            - 'EdDSA'
            - 'ES256'
        claims_parameter_supported:
          type: boolean
          description: Indicates whether the claims parameter is supported.
          example: true
        claims_supported:
          type: array
          description: List of claims supported by the issuer.
          items:
            type: string
          example:
            - 'sub'
            - 'sid'
            - 'auth_time'
            - 'iss'
        grant_types_supported:
          type: array
          description: List of grant types supported by the authorization server.
          items:
            type: string
          example:
            - 'authorization_code'
        id_token_signing_alg_values_supported:
          type: array
          description: List of signing algorithms supported for ID tokens.
          items:
            type: string
          example:
            - 'HS256'
        response_modes_supported:
          type: array
          description: List of response modes supported by the authorization server.
          items:
            type: string
          example:
            - 'fragment'
            - 'query'
        response_types_supported:
          type: array
          description: List of response types supported by the authorization server.
          items:
            type: string
          example:
            - 'code'
        scopes_supported:
          type: array
          description: List of scopes supported by the authorization server.
          items:
            type: string
          example:
            - 'ldp_vc:MyCredential'
        subject_types_supported:
          type: array
          description: List of subject types supported by the issuer.
          items:
            type: string
          example:
            - 'public'
        token_endpoint_auth_methods_supported:
          type: array
          description: List of supported token endpoint authentication methods.
          items:
            type: string
          example:
            - 'client_secret_basic'
            - 'client_secret_post'
        request_parameter_supported:
          type: boolean
          description: Indicates whether the request parameter is supported.
          example: true
        request_uri_parameter_supported:
          type: boolean
          description: Indicates whether the request URI parameter is supported.
          example: false
        require_request_uri_registration:
          type: boolean
          description: Indicates whether request URI registration is required.
          example: true
        require_signed_request_object:
          type: boolean
          description: Indicates whether a signed request object is required.
          example: true
        credential_supported:
          type: boolean
          description: Indicates whether credential issuance is supported.
          example: true
        dids_supported:
          type: boolean
          description: Indicates whether Decentralized Identifiers (DIDs) are supported.
          example: true
        did_methods_supported:
          type: array
          description: List of DID methods supported by the issuer.
          items:
            type: string
          example:
            - 'did:key:'
            - 'did:web:'
            - 'did:dock:'
            - 'did:ebsi:'
        claim_types_supported:
          type: array
          description: List of claim types supported by the issuer.
          items:
            type: string
          example:
            - 'normal'
        credential_formats_supported:
          type: array
          description: List of credential formats supported by the issuer.
          items:
            type: string
          example:
            - 'w3cvc-jsonld'
        credential_claims_supported:
          type: array
          description: List of claims supported within credentials issued by the issuer.
          items:
            type: string
          example:
            - 'id'
            - 'nested.field'
            - 'inheritedField'
            - 'name'
        credential_issuer:
          type: string
          format: uri
          description: The issuer identifier for credential issuance.
          example: 'https://example.com/openid/issuers/b582...173c'
        credential_endpoint:
          type: string
          format: uri
          description: The endpoint used to issue credentials.
          example: 'https://example.com/openid/credential'
        credentials_supported:
          type: array
          description: List of credentials supported by the issuer.
          items:
            type: object
            properties:
              id:
                type: string
                description: The identifier for the credential.
                example: 'ldp_vc:MyCredential'
              format:
                type: string
                description: The format of the credential.
                example: 'ldp_vc'
              scope:
                type: string
                description: The scope associated with the credential.
                example: 'ldp_vc:MyCredential'
              '@context':
                type: array
                description: JSON-LD contexts used in the credential.
                items:
                  type: string
                example:
                  - 'https://www.w3.org/2018/credentials/v1'
              type:
                type: array
                description: The type(s) of the credential.
                items:
                  type: string
                example:
                  - 'VerifiableCredential'
              credentialSubject:
                type: object
                description: The subject of the credential.
                additionalProperties: true
              display:
                type: array
                description: Information about how the credential is displayed.
                items:
                  type: object
                  additionalProperties: true
              cryptographic_binding_methods_supported:
                type: array
                description: Supported cryptographic binding methods.
                items:
                  type: string
                example:
                  - 'binding_method_1'
              cryptographic_suites_supported:
                type: array
                description: Supported cryptographic suites.
                items:
                  type: string
                example:
                  - 'suite_1'
        mdoc_iacas_uri:
          type: string
          format: uri
          description: The URI for mobile driver's license issuance and credential acquisition.
          example: 'https://example.com/openid/mdoc-iacas'
    OpenIDCredentialOfferResponse:
      type: object
      description: The response object for an OpenID Credential Offer request, containing the URL and details of the credential offer.
      properties:
        url:
          type: string
          description: OpenId Credential Offers URL
          example: 'openid-credential-offer://?credential_offer=...'
        offer:
          type: object
          properties:
            credential_issuer:
              type: string
              description: The issuer of the credential
            credentials:
              type: array
              description: The credentials to be issued
              items:
                type: string
                description: The credential id
            request_parameters:
              type: object
              description: Extra request parameters passed to the federated OpenID provider, such as login hint
            grants:
              type: object
              description: OpenID grants
    OpenIDIssuerOpenIDConfig:
      type: object
      description: The OpenID configuration for an issuer, including supported authentication methods, response modes, and token signing algorithms.
      properties:
        authorization_endpoint:
          type: string
          format: uri
          description: The endpoint used by the client to obtain authorization from the resource owner.
          example: 'https://example.com/openid/issuers/e10a...3213/authorize'
        token_endpoint:
          type: string
          format: uri
          description: The endpoint used by the client to exchange an authorization grant for an access token.
          example: 'https://example.com/openid/issuers/e10a...3213/token'
        jwks_uri:
          type: string
          format: uri
          description: The URI for the JSON Web Key Set, which contains the public keys used to verify tokens.
          example: 'https://example.com/openid/issuers/e10a...3213/jwks'
        issuer:
          type: string
          format: uri
          description: The issuer identifier for the authorization server.
          example: 'https://example.com/openid/issuers/e10a...3213'
        code_challenge_methods_supported:
          type: array
          description: List of supported code challenge methods for PKCE.
          items:
            type: string
          example: 
            - 'S256'
        token_endpoint_auth_signing_alg:
          type: string
          description: The algorithm used for signing at the token endpoint.
          example: 'HS256'
        token_endpoint_auth_signing_alg_values_supported:
          type: array
          description: The list of signing algorithms supported by the token endpoint.
          items:
            type: string
          example:
            - 'HS256'
        request_object_signing_alg_values_supported:
          type: array
          description: Supported signing algorithms for request objects.
          items:
            type: string
          example:
            - 'EdDSA'
            - 'ES256'
        claims_parameter_supported:
          type: boolean
          description: Indicates whether the claims parameter is supported.
          example: true
        claims_supported:
          type: array
          description: List of claims supported by the issuer.
          items:
            type: string
          example:
            - 'sub'
            - 'sid'
            - 'auth_time'
            - 'iss'
        grant_types_supported:
          type: array
          description: List of grant types supported by the authorization server.
          items:
            type: string
          example:
            - 'authorization_code'
        id_token_signing_alg_values_supported:
          type: array
          description: List of signing algorithms supported for ID tokens.
          items:
            type: string
          example:
            - 'HS256'
        response_modes_supported:
          type: array
          description: List of response modes supported by the authorization server.
          items:
            type: string
          example:
            - 'form_post'
            - 'fragment'
            - 'query'
        response_types_supported:
          type: array
          description: List of response types supported by the authorization server.
          items:
            type: string
          example:
            - 'code id_token'
            - 'code'
            - 'id_token'
            - 'none'
        scopes_supported:
          type: array
          description: List of scopes supported by the authorization server.
          items:
            type: string
          example:
            - 'openid'
            - 'openid_credential'
        subject_types_supported:
          type: array
          description: List of subject types supported by the issuer.
          items:
            type: string
          example:
            - 'public'
        token_endpoint_auth_methods_supported:
          type: array
          description: List of supported token endpoint authentication methods.
          items:
            type: string
          example:
            - 'client_secret_basic'
            - 'client_secret_post'
        request_parameter_supported:
          type: boolean
          description: Indicates whether the request parameter is supported.
          example: true
        request_uri_parameter_supported:
          type: boolean
          description: Indicates whether the request URI parameter is supported.
          example: false
        require_request_uri_registration:
          type: boolean
          description: Indicates whether request URI registration is required.
          example: true
        require_signed_request_object:
          type: boolean
          description: Indicates whether a signed request object is required.
          example: true
        credential_supported:
          type: boolean
          description: Indicates whether credential issuance is supported.
          example: true
        dids_supported:
          type: boolean
          description: Indicates whether Decentralized Identifiers (DIDs) are supported.
          example: true
        did_methods_supported:
          type: array
          description: List of DID methods supported by the issuer.
          items:
            type: string
          example:
            - 'did:key:'
            - 'did:web:'
            - 'did:dock:'
            - 'did:ebsi:'
        claim_types_supported:
          type: array
          description: List of claim types supported by the issuer.
          items:
            type: string
          example:
            - 'normal'
        credential_formats_supported:
          type: array
          description: List of credential formats supported by the issuer.
          items:
            type: string
          example:
            - 'w3cvc-jsonld'
        credential_claims_supported:
          type: array
          description: List of claims supported within credentials issued by the issuer.
          items:
            type: string
          example:
            - 'id'
            - 'nested.field'
            - 'inheritedField'
            - 'name'
    OpenIDIssuerDIDConfig:
      type: object
      description: Configuration for an OpenID issuer's DID, detailing supported methods, cryptographic bindings, and related metadata.
      properties:
        entries:
          type: array
          description: A list of verifiable credentials.
          items:
            type: object
            properties:
              '@context':
                type: array
                description: The JSON-LD context defining the terms used in the credential.
                items:
                  type: string
                example:
                  - 'https://www.w3.org/2018/credentials/v1'
                  - 'https://identity.foundation/.well-known/contexts/did-configuration-v0.2.jsonld'
              type:
                type: array
                description: The type(s) of the credential.
                items:
                  type: string
                example:
                  - 'VerifiableCredential'
                  - 'DomainLinkageCredential'
              issuer:
                type: string
                description: The DID of the entity that issued the credential.
                example: 'did:dock:5Cei...FiGWw7h'
              issuanceDate:
                type: string
                format: date-time
                description: The date and time when the credential was issued.
                example: '2024-08-20T12:12:53.336Z'
              credentialSubject:
                type: object
                description: The subject of the credential, typically containing the DID of the subject.
                properties:
                  id:
                    type: string
                    description: The DID of the credential subject.
                    example: 'did:dock:5Cei...FiGWw7h'
                  origin:
                    type: string
                    description: The origin associated with the credential subject.
                    example: 'https://example.com/openid/issuers/2a7a...8b85'
              proof:
                type: object
                description: The proof section of the credential, containing the cryptographic proof.
                properties:
                  type:
                    type: string
                    description: The type of proof used.
                    example: 'Ed25519Signature2018'
                  created:
                    type: string
                    format: date-time
                    description: The date and time when the proof was created.
                    example: '2024-08-20T12:12:53Z'
                  verificationMethod:
                    type: string
                    description: The verification method used to create the proof.
                    example: 'did:dock:5Cei...FiGWw7h#keys-1'
                  proofPurpose:
                    type: string
                    description: The purpose of the proof, typically assertionMethod.
                    example: 'assertionMethod'
                  jws:
                    type: string
                    description: The JSON Web Signature (JWS) representing the proof.
                    example: 'eyJhbG...rQcJAQ'
    OID4VPConfig:
      type: object
      description: Configuration for the OpenID for Verifiable Presentations (OID4VP) endpoint, including details on authorization and token endpoints, and supported cryptographic methods.
      properties:
        authorization_endpoint:
          type: string
          format: uri
          description: The endpoint used by the client to obtain authorization from the resource owner.
          example: 'https://example.com/openid/vp/5b40...d96a/authorize'
        token_endpoint:
          type: string
          format: uri
          description: The endpoint used by the client to exchange an authorization grant for an access token.
          example: 'https://example.com/openid/vp/5b40...d96a/token'
        jwks_uri:
          type: string
          format: uri
          description: The URI for the JSON Web Key Set, which contains the public keys used to verify tokens.
          example: 'https://example.com/openid/vp/5b40...d96a/jwks'
        issuer:
          type: string
          format: uri
          description: The issuer identifier for the authorization server.
          example: 'https://example.com/openid/vp/5b40...d96a'
        code_challenge_methods_supported:
          type: array
          description: List of supported code challenge methods for PKCE.
          items:
            type: string
          example: 
            - 'S256'
        token_endpoint_auth_signing_alg:
          type: string
          description: The algorithm used for signing at the token endpoint.
          example: 'HS256'
        token_endpoint_auth_signing_alg_values_supported:
          type: array
          description: The list of signing algorithms supported by the token endpoint.
          items:
            type: string
          example:
            - 'HS256'
        request_object_signing_alg_values_supported:
          type: array
          description: Supported signing algorithms for request objects.
          items:
            type: string
          example:
            - 'EdDSA'
            - 'ES256'
        claims_parameter_supported:
          type: boolean
          description: Indicates whether the claims parameter is supported.
          example: true
        claims_supported:
          type: array
          description: List of claims supported by the issuer.
          items:
            type: string
          example:
            - 'sub'
            - 'sid'
            - 'auth_time'
            - 'iss'
        grant_types_supported:
          type: array
          description: List of grant types supported by the authorization server.
          items:
            type: string
          example:
            - 'authorization_code'
        id_token_signing_alg_values_supported:
          type: array
          description: List of signing algorithms supported for ID tokens.
          items:
            type: string
          example:
            - 'HS256'
        response_modes_supported:
          type: array
          description: List of response modes supported by the authorization server.
          items:
            type: string
          example:
            - 'form_post'
            - 'fragment'
            - 'query'
        response_types_supported:
          type: array
          description: List of response types supported by the authorization server.
          items:
            type: string
          example:
            - 'code id_token'
            - 'code'
            - 'id_token'
            - 'none'
        scopes_supported:
          type: array
          description: List of scopes supported by the authorization server.
          items:
            type: string
          example:
            - 'openid'
            - 'openid_credential'
        subject_types_supported:
          type: array
          description: List of subject types supported by the issuer.
          items:
            type: string
          example:
            - 'public'
        token_endpoint_auth_methods_supported:
          type: array
          description: List of supported token endpoint authentication methods.
          items:
            type: string
          example:
            - 'client_secret_basic'
            - 'client_secret_post'
        request_parameter_supported:
          type: boolean
          description: Indicates whether the request parameter is supported.
          example: true
        request_uri_parameter_supported:
          type: boolean
          description: Indicates whether the request URI parameter is supported.
          example: false
        require_request_uri_registration:
          type: boolean
          description: Indicates whether request URI registration is required.
          example: true
        require_signed_request_object:
          type: boolean
          description: Indicates whether a signed request object is required.
          example: true
        credential_supported:
          type: boolean
          description: Indicates whether credential issuance is supported.
          example: true
        dids_supported:
          type: boolean
          description: Indicates whether Decentralized Identifiers (DIDs) are supported.
          example: true
        did_methods_supported:
          type: array
          description: List of DID methods supported by the issuer.
          items:
            type: string
          example:
            - 'did:key:'
            - 'did:web:'
            - 'did:dock:'
            - 'did:ebsi:'
        claim_types_supported:
          type: array
          description: List of claim types supported by the issuer.
          items:
            type: string
          example:
            - 'normal'
    OID4VPJWK:
      type: object
      description: Represents a JSON Web Key (JWK) used in OID4VP, detailing the key type, curve, public key material, and associated algorithms.
      properties:
        kty:
          type: string
          description: The key type (e.g., "OKP", "EC").
          example: 'OKP'
        crv:
          type: string
          description: The curve used with the key (e.g., "Ed25519", "P-256").
          example: 'Ed25519'
        x:
          type: string
          description: The public key material (base64url encoded).
          example: 'Q49t...IT0E'
        y:
          type: string
          description: The y-coordinate for the public key (only for EC keys).
          example: 'afTq...pD3w'
        kid:
          type: string
          description: The key identifier, typically including the DID and key fragment.
          example: 'did:key:z6Mk...MMw48G#z6Mk...MMw48G'
        alg:
          type: string
          description: The algorithm used with the key.
          example: 'EdDSA'
    OID4VPJWKsResponse:
      type: object
      properties:
        keys:
          type: array
          description: A list of cryptographic keys.
          items:
            $ref: '#/components/schemas/OID4VPJWK'
    OpenIDIssuersTokenResponse:
      type: object
      description: The response from an OpenID token endpoint, containing an access token, ID token, and any related credential information.
      properties:
        access_token:
          type: string
          description: The access token issued by the authorization server.
          example: 'df0c70ac-70c3...Qs0IVH4'
        token_type:
          type: string
          description: The type of the token issued, typically "bearer".
          example: 'bearer'
        expires_in:
          type: integer
          description: The lifetime in seconds of the access token.
          example: 86400
        id_token:
          type: string
          description: The ID token representing the identity of the user.
          example: 'eyJhbG...d9ttgM'
        credential:
          type: object
          description: The credential information issued alongside the access token.
          properties:
            data:
              oneOf:
                - type: string
                - type: object
                  $ref: '#/components/schemas/VerifiableCredential'
security:
  - accessToken: []
  - bearerAuth: []
  - nextAuth: []
  - rapidAPI: []

paths:
  /teams/accept-member-invite:
    post:
      summary: Accept invitation to be a team member
      tags:
        - teams
      requestBody:
        description: Accept invitation token
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accept_invitation_token
              properties:
                accept_invitation_token:
                  description: The token received in the mail
                  type: string
      responses:
        '200':
          description: Invitation has been accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          description: Error accepting the invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /teams/{id}/invite:
    post:
      summary: Send email invitations to a list of emails
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
      requestBody:
        description: Emails array
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - emails
              properties:
                emails:
                  description: The emails list
                  type: array
      responses:
        '200':
          description: Invitations have been sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: Error sending the invitations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You are not the owner or the administrator of this team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Transaction limit reached or upgrade required to proceed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /teams/{id}:
    patch:
      summary: Update a Team
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
      requestBody:
        description: Team JSON object that will be applied
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  description: The new team name
                  type: string
      responses:
        '200':
          description: Team has been updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
        '400':
          description: Error updating team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  # Disabled
  # /teams/{id}/transfer-ownership:
  #   post:
  #     summary: Transfer ownership of a Team
  #     tags:
  #       - teams
  #     parameters:
  #       - name: id
  #         in: path
  #         required: true
  #         description: An ID
  #         schema:
  #           type: string
  #     requestBody:
  #       description: JSON object that will be applied
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             required:
  #               - new_owner_id
  #             properties:
  #               new_owner_id:
  #                 description: The id of the new owner
  #                 type: string
  #     responses:
  #       '200':
  #         description: Invitation email has been sent
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Response'
  #       '400':
  #         description: Error updating team
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'
  # /teams/accept-transfer-ownership:
  #   post:
  #     summary: Accept transfer ownership of a Team
  #     tags:
  #       - teams
  #     requestBody:
  #       description: JSON object that will be applied
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             required:
  #               - accept_token
  #             properties:
  #               accept_token:
  #                 description: The token received with all the needed information
  #                 type: string
  #     responses:
  #       '200':
  #         description: Ownership of the team transferred
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Response'
  #       '400':
  #         description: Error updating team
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'
  /teams/{id}/invitations:
    get:
      summary: List all Team Member Invitations
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 64)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 64
        - name: status
          in: query
          description: Filter invitations by status (pending, canceled, accepted)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paged array of invitations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamMemberInvitations'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /teams/{id}/invitations/{invitation_id}/resend:
    post:
      summary: Resend the invitation email
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
        - name: invitation_id
          in: path
          required: true
          description: An ID
          schema:
            type: string
      responses:
        '200':
          description: The invitation has been resent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invitation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You are not the owner or the administrator of this team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /teams/{id}/invitations/{invitation_id}/cancel:
    post:
      summary: Cancel the current invitation
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
        - name: invitation_id
          in: path
          required: true
          description: An ID
          schema:
            type: string
      responses:
        '200':
          description: The invitation has been canceled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          description: Application error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invitation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: You are not the owner or the administrator of this team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /teams/{id}/members:
    get:
      summary: List all Team Members
      tags:
        - teams
      parameters:
        - name: id
          in: path
          required: true
          description: An ID
          schema:
            type: integer
        - name: offset
          in: query
          description: How many items to offset by for pagination
          required: false
          schema:
            type: integer
            format: int32
            default: 0
            minimum: 0
        - name: limit
          in: query
          description: How many items to return at one time (max 64)
          required: false
          schema:
            type: integer
            format: int32
            default: 64
            minimum: 1
            maximum: 64
      responses:
        '200':
          description: A paged array of team members
          content:
[...]
